footer{
	color: #434342;
	line-height: 2;
	background: #f2f0f0;
	border-top: solid 1px #e9e8e8;
	padding-top: 28px;
	.f-title{
		text-transform: uppercase;
		font-weight: bold;
		color: #181818;
		margin-bottom: 10px;
	}
	.facebook{
		margin-top: 9px;
		margin-left: -20px;
	}
	.fcol-1{
		margin-right: 90px;
	}
	.fcol-2{
		margin-left: -90px;
	}
	.fcol-3{
		margin-left: 30px;
	}
	.ct{
		ul li{
			font-size: 13px;
			line-height: 28px;
		}
	}
	a:hover{
		color: $c1;
	}
	.social{
		margin-bottom: 12px;
		a{
			display: block;
			position: relative;
			padding-left: 31px;
			font-size: 13px;
			font-family: $f3;
			margin-bottom: 6px;
			i{
				position: absolute;
				left: 0;
				margin-top: 3px;
			}
			&:hover{
				color: $c1;
			}
		}
	}
	.f-img{
		img{
			@include middle;
			margin-right: 10px;
			max-height: 30px;
			margin-bottom: 10px;
		}
	}
	.footer{
		background: #dedcdc;
		margin-top: 30px;
		font-size: 13px;
		text-align: center;
		padding-top: 16px;
		padding-bottom: 8px;
		ul{
			li{
				display: inline-block;
				margin: 0 10px 1px 10px;
				position: relative;
				&:after{
					content: '';
					width: 1px;
					height: 11px;
					top: 50%;
					margin-top: -5px;
					position: absolute;
					right: -13px;
					background: #434342;
				}
				&:last-child:after{
					content: none;
				}
			}
		}
		.copyright{
			margin-top: 13px;
			line-height: 23px;
		}
	}
}

.back-to-top{
	display: none;
	position: fixed;
	cursor: pointer;
	z-index: 999;
	text-align: center;
	right: 15px;
	bottom: 15px;
	
	font-size: 22px;
	width: 40px;
	height: 40px;
	line-height: 44px;
	background: rgba(#eb5254, 1);
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(#eb5254, 0.5);
	&:hover{
		box-shadow: 0 0 0 5px rgba(#eb5254, 0.8);
	}
}

@media all and (max-width: 991px){
	footer{
		.fcol-1{
			margin-right: 0px;
		}
		.fcol-2{
			margin-left: 0px;
		}
		.fcol-3{
			margin-left: 0px;
		}
		.ct .s-content{
			margin-bottom: 20px;
		}
		.facebook{margin-left: 0;
			margin-top: 20px;
		}
		.footer{
			ul li:after{content: none;}
		}
	}
}


@media all and (max-width: 767px){

}