body{
	font-size: 14px;
	font-family: $f1;
	line-height: 1.5;
	color: $ct;
}
.break-10{height: 10px;}
.ic-cart{
	width: 46px;
	height: 40px;
	background-image: url('../images/ic-cart.png');
}
.ic-user{
	width: 37px;
	height: 38px;
	background-image: url('../images/ic-user.png');
}
.ic-face{
	width: 19px;
	height: 18px;
	background-image: url('../images/face.png');
}
.ic-instagram{
	width: 20px;
	height: 18px;
	background-image: url('../images/insta.png');
}
.ic-linkedin{
	width: 19px;
	height: 18px;
	background-image: url('../images/linkedin.png');
}

@media all and (min-width: 1280px){
	.container{max-width: 1260px;}
}

@media all and (max-width: 991px){
	
}

@media all and (max-width: 850px){
	
}