header{
	z-index: 9;
	left: 0;
	right: 0;
	top: 0;
	background: #fff;
	.logo{
		@include middle;
		img{
			display: block;
		}
	}
	.top{
		background: #f4f4f4;
		color: #3f3f3f;
		padding: 7px 0;
		.top-nav{
			li{
				display: inline-block;
				margin-right: 32px;
				position: relative;
				&:after{
					content: '';
					height: 15px;
					width: 1px;
					position: absolute;
					top: 50%;
					margin-top: -6px;
					background: #cfcfcf;
					right: -19px;
				}
				&:last-child{
					margin-right: 0;
					&:after{content: none;}
				}
				a{
					color: #3f3f3f;
					strong{
						color: #cc5443;
					}
					&:hover{
						color: $c1;
					}
				}
			}
		}
	}
}
.header{
	padding: 13px 0;
}
.search-fr{
	position: relative;
	margin-left: 35px;
	margin-right: -30px;
	input{
		width: 100%;
		height: 38px;
		border: solid 1px #e3e3e0;
		border-radius: 3px;
		padding-left: 25px;
		@include place(#bcbcbc);
	}
	button{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0px;
		background: #e18037;
		color: #fff;
		width: 52px;
		border-radius: 0 3px 3px 0;
		font-size: 22px;
		padding-bottom: 3px;
	}
}
.h-cart{
	@include middle;
	position: relative;
	text-align: left;
	padding-left: 60px;
	i{
		position: absolute;
		left: 0;
		margin-top: -2px;
	}
	span{
		display: block;
		color: #512625;
	}
	strong{
		color: #c8402b;
		font-size: 16px;
		line-height: 1;
	}
}
.h-user{
	@include middle;
	position: relative;
	text-align: left;
	padding-left: 44px;
	margin-left: 52px;
	i{
		position: absolute;
		left: 0;
		margin-top: 2px;
	}
	span{
		display: block;
		color: #512625;
	}
	strong{
		color: #c8402b;
		font-size: 16px;
		line-height: 1;
	}
}
.main-bar{
	background: $c2;
}
.main-nav{
	&>ul{
		font-size: 0;
		display: flex;
		justify-content: space-between;
		&>li{
			@include middle;
			font-size: 14px;
			&:last-child{
				margin-right: 0;
			}
			&>a{
				display: block;
				text-transform: uppercase;
				color: #fff;
				font-size: 16px;
				line-height: 20px;
				padding: 15px 21px;
				// &:not(:only-child):after{
				// 	font-weight: normal;
				// 	@include font('\f107'); // angle
				// 	@include font('\f0d7'); // caret
				// 	@include font('\f078'); // chevron
				// 	margin-left: 5px;
				// 	@include middle;
				// 	margin-top: -3px;
				// }
			}
			&:hover>a{
				background: $c1;
			}
		}
	}
	// li{
	// 	position: relative;
	// 	text-align: left;
	// 	ul{
	// 		position: absolute;
	// 		min-width: 220px;
	// 		@include smooth(0.2s);
	// 		z-index: 1;
	// 		margin-top: 10px;
	// 		pointer-events: none;
	// 		opacity: 0;
	// 		padding-top: 5px;
	// 		ul{
	// 			left: 100%;
	// 			top: 0;
	// 			padding-top: 0;
	// 			padding-left: 5px;
	// 		}
	// 		a{
	// 			background: rgba($c1, 0.85);
	// 			display: block;
	// 			text-transform: uppercase;
	// 			color: #fff;
	// 			font-size: 13px;
	// 			padding: 10px 15px;
	// 			border-bottom: solid 1px rgba(#fff, 0.3);
	// 		}
	// 		li:hover>a{
	// 			background: $c1;
	// 		}
	// 		li:last-child > a{border-bottom: none;}
	// 	}
	// 	&:hover>ul{
	// 		margin-top: 0;
	// 		pointer-events: all;
	// 		opacity: 1;
	// 	}
	// }
	>ul>li{
		position: relative;
		&:hover > ul{
			opacity: 1;
			visibility: visible;
		}
		>ul{
			position: absolute;
			background: #fff;
			padding: 5px 20px 10px 20px;
			z-index: 1;
			width: 493px;
			display: flex;
			flex-wrap: wrap;
			opacity: 0;
			visibility: hidden;
			>li{
				flex: 0 0 50%;
				&.view-all{
					flex: 0 0 100%;
					text-align: right;
					a{
						display: inline-block;
						color: #ca402b;
						&:before{content: none;}
						
					}
				}
			}
			span{
				display: block;
				font-weight: bold;
				font-size: 18px;
				color: #282828;
				padding: 10px 0;
			}
			li{
				a{
					display: block;
					padding: 5px 15px;
					font-size: 18px;
					color: #383838;
					position: relative;
					&:before{
						@include font('\f105');
						position: absolute;
						left: 0;
						font-size: 16px;
						margin-top: 1px;
					}
				}
				li{
					ul{
						padding-left: 18px;
						display: none;
						a{
							&:before{
								content: '\2022';
								font-size: 24px;
								line-height: 1;
								left: -2px;
							}
						}
					}
					&:hover > ul{
						display: block;
					}
				}
				&:hover > a{
					color: $c1;
				}
			}
		}
	}
}
.m-nav-open{display: none;}

.acd-drop{
	&:after{
		content: '\002B';
	}
	&.active{
		&:after{
			content: '\2212';
		}
	}
}

@media all and (min-width: 992px){
	.m-nav, .m-nav-over{
		display: none !important;
	}
	header.fixed{
		position: fixed;
		box-shadow: 0 0 5px 0 rgba(#666, 0.5);
		.logo{
			img{
				
			}
		}
		.top, .header{display: none}
	}
}

@media all and (max-width: 1259px){
	.main-nav{
		>ul>li{
			>a{
				font-size: 15px;
				padding: 15px 19px;
			}
		}
	}
	.h-user{
		margin-left: 30px;
	}
	.search-fr{
		margin-right: 0;
	}
}
@media all and (max-width: 1199px){
	.main-nav{
		>ul>li{
			>a{
				font-size: 14px;
				padding: 15px 13px;
			}
		}
	}
}
@media all and (max-width: 991px){
	$wid: 280px;
	.menu-btn{
		@include ibl(middle);
		width: 40px;
		height: 40px;
		border-radius: 100%;
		// position: absolute;
		z-index: 1;
		i{
			display: block;
			margin: auto;
			border-top: solid 2px #4b2423;
			width: 17px;
			border-bottom: double 7px #4b2423;
			height: 12px;
		}
		&.act i{
			width: auto;
			height: auto;
			border: none;
			&:after, &:before{
				content: '';
				display: block;
				margin: auto;
				width: 17px;
				border-bottom: solid 2px #4b2423;
			}
			&:after{
				transform: rotate(-45deg);
				margin-top: -2px;
			}
			&:before{
				transform: rotate(45deg);
			}
		}
		&.v2{
			background: $c1;
			i{border-color: #fff;}
			&.act i{
				&:after, &:before{border-color: #fff;}
			}
		}
	}
	.main-nav{display: none;}
	.m-nav-over{
		@include fixed(0);
		z-index: 998;
		background: rgba(#000, 0.5);
		transition: all .15s ease-in-out;
		cursor: pointer;
	}
	.m-nav{
		display: block;
		position: fixed;
		top: 0;
		width: $wid;
		bottom: 0;
		z-index: 999;
		color: #fff;
		background: #333;
		transition: all .25s ease-in-out;
		right: -$wid;
		&.active{
			box-shadow: 0 0 6px 0 rgba(#fff, 0.15);
			right: 0;
			.m-nav-close{
				visibility: visible;
				opacity: 1;
			}
		}
		.m-nav-close{
			position: absolute;
			top: 0;
			width: 40px;
			height: 40px;
			right: 100%;
			background: #444;
			outline: none;
			color: #fff;
			font-size: 27px;
			cursor: pointer;
			transition: inherit;
			opacity: 0;
			visibility: hidden;
			font-family: initial;
		}
		.nav-ct{
			height: 100%;
			overflow: auto;
			padding-bottom: 20px;
			>ul{
				a, span{
					display: block;
					font-size: 14px;
					font-family: arial;
					line-height: 20px;
					padding: 10px 15px 10px 18px;
					border-bottom: solid 1px #444;
					position: relative;
					span{
						// display: none;
					}
				}
				span{
					padding-left: 35px;
				}
				ul{
					background: rgba(#fff, 0.04);
					display: none;
					a{
						padding-left: 36px;
					}
					ul a{
						padding-left: 54px;
					}
				}
			}
		}
		.search-fr{
			margin: 10px 17px 10px 17px;
			button{
				background: none;
				color: $c1;
				width: auto;
				right: 10px;
				font-size: 16px;
			}
			input{
				border: none;
				padding-left: 15px;
			}
		}
		.acd-drop{
			width: 40px;
			height: 40px;
			float: right;
			position: relative;
			z-index: 1;
			font-size: 20px;
			color: inherit;
			font-family: monospace;
			outline: none;
			cursor: pointer;
			border-left: solid 1px #444;
			background: rgba(#fff, 0.04);
		}
	}
	.header{
		padding: 0;
	}
	header{
		position: relative;
		padding: 10px 0;
		.logo{
			img{
				max-height: 50px;
			}
		}		
		.m-nav-open{
			margin-right: -10px;
		}
		&.m-fixed{
			position: fixed;
			box-shadow: 0 0 5px 0 rgba(#666, 0.5);
			.logo{
				img{
					
				}
			}
		}
		.top{display: none;}
	}
	.h-cart, .h-user{
		padding-left: 0px;
		i{
			position: static;
			margin: 0;
			display: block;
			height: 24px;
			width: 24px;
		}
		span{
			display: none;
		}
		strong{
			display: none;
		}
	}
	.h-user{
		margin-right: 6px;
		margin-left: 18px;
	}
	
}

@media all and (max-width: 767px){
	
}