.md-slider{
	.slick-list{
		margin: 0;
		.slick-slide{
			margin: 0;
		}
	}
	.item{
		position: relative;
		vertical-align: middle;
	}
	.img img{
		display: block;
		width: 100%;
	}
	.slick-arrow{
		position: absolute;
		text-align: center;
		top: 50%;
		margin-top: -11px;
		width: 22px;
		height: 22px;
		border-top: solid 2px;
		border-right: solid 2px;
		color: #fff;
		&:hover{
			color: $c1;	
		}
		&.prev{
			left: 13px;
			transform: rotate(-135deg);
		}
		&.next{
			right: 13px;
			transform: rotate(45deg);
		}
	}
	.slick-dots{
		position: absolute;
		left: 10px;
		right: 10px;
		bottom: 20px;
		li{
			border-color: $c1;
			&.slick-active{
				background: $c1;
			}
		}
	}
}
.md-title{
	text-transform: uppercase;
	font-size: 35px;
	color: #212121;
	font-weight: bold;
	text-align: center;
	font-family: $f2;
	margin-top: 65px;
	margin-bottom: 38px;
}
.md-brand{
	background: #f9f9f9;
	padding-top: 1px;
	padding-bottom: 70px;
}
.brand-cas{
	padding: 0 40px;
}
.cas-arrow{
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	border-top: solid 2px;
	border-right: solid 2px;
	color: #888;
	&:hover{
		color: $c1;	
	}
	&.prev{
		left: 10px;
		transform: rotate(-135deg);
	}
	&.next{
		right: 10px;
		transform: rotate(45deg);
	}
}
.brand{
	height: 70px;
	position: relative;
	display: block;
	img{
		@extend %img-center;
	}
}
.md-cates{
	overflow: hidden;
}
.md-cate{
	margin-bottom: 6px;
	position: relative;
	.c-img{
		padding-top: 511/634*100%;
		background: #000;
		img{
			transition: all .2s ease-in-out;
		}
	}
	.caption{
		position: absolute;
		text-transform: uppercase;
		font-family: $f2;
		font-size: 36px;
		left: 40px;
		top: 36px;
		color: #fff;
		line-height: 1.35;
		text-shadow: 1px 0px 6px rgba(#000, 0.3);
		pointer-events: none;
		strong{
			font-size: 50/36*100%;
		}
		&.v2{
			top: auto;
			bottom: 35px;
		}
		&.v3{
			top: auto;
			bottom: 15px;
			left: auto;
			right: 26px;
			text-align: right;
		}
	}
	&.v2{
		.c-img{
			padding-top: 512/1278*100%;
		}
	}
	&:hover{
		.c-img{
			img{
				opacity: 0.8;
			}
		}
	}
}
.md-products{
	overflow: hidden;
}
.md-featured{
	overflow: hidden;
}
.featured-box{
	display: flex;
	align-items: flex-start;
	margin-bottom: 65px;
	&:last-child{
		margin-bottom: 30px;
	}
	.bn{
		flex: 0 0 400/1900*100%;
		// flex: 0 0 400px;
		margin-right: 50px;
	}
	.ct{
		flex: 1;
	}
	.featured-cas{
		.pro{
			.title{
				font-weight: normal;
				margin-bottom: 5px;
			}
			.c-img{
				margin-bottom: 11px;
			}
		}
	}
}
.promotion-cas{
	padding: 0 52px;
	.slick-arrow{
		margin-top: -20px;
	}
}
.promotion{
	.c-img{
		padding-top: 340/279*100%;
		margin-bottom: 11px;
		background: #000;
		img{
			transition: all .2s ease-in-out;
		}
	}
	.title{
		font-size: 16px;
		font-weight: bold;
		color: #303030;
	}
	&:hover{
		.c-img img{opacity: 0.8}
		.title a{color: $c1;}
	}
}
.posts-cas{
	padding: 0 52px;
}
.post-cate{
	.c-img{
		padding-top: 230/279*100%;
		background: #512625;
		img{
			opacity: 0.5;
			transition: all .2s ease-in-out;
		}
		.title{
			@include absolute(0);
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			color: #fff;
			font-size: 30px;
			line-height: (35/30);
			font-weight: 300;
			strong{
				display: block;
			}
		}
		&:hover{
			img{
				opacity: 0.3;
			}
		}
	}
}
.service{
	text-align: center;
	margin-bottom: 85px;
	.icon{
		height: 68px;
		position: relative;
		margin-bottom: 19px;
		img{
			@extend %img-center;
		}
	}
	p{
		color: #212121;
		font-size: 20px;
	}
	strong{
		color: #212121;
		font-size: 20px;
	}
}
.md-services{
	margin-bottom: -30px;
}

@media all and (max-width: 1199px){
	.featured-box{
		display: block;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 10px;
		}
		.bn{display: none;}
		.featured-cas{
			padding: 0 30px;
		}
	}
	.post-cate{
		.c-img{
			.title{
				font-size: 20px;
				line-height: 1.3;
			}
		}
	}

}

@media all and (max-width: 991px){
	.md-title{
		font-size: 28px;
		margin-top: 35px;
		margin-bottom: 28px;
	}
	.md-brand{
		padding-bottom: 50px;
	}
	.md-cate{
		.caption{
			font-size: 20px;
			left: 20px;
			top: 15px;
			&.v2{
				bottom: 15px;
			}
			&.v3{
				bottom: 10px;
				right: 16px;
			}
		}
	}

	.service{
		margin-bottom: 35px;
		.icon{
			height: 38px;
			margin-bottom: 19px;
		}
		p{
			font-size: 16px;
		}
		strong{
			font-size: 16px;
		}
	}
}


@media all and (max-width: 767px){
	.md-title{
		font-size: 22px;
		margin-top: 25px;
		margin-bottom: 18px;
	}
	.brand{
		height: 50px;
	}
	.md-brand{
		padding-bottom: 30px;
	}
	.md-cate{
		.caption{
			font-size: 13px;
			top: 10px;
			left: 10px;
			&.v3{
				right: 10px;
			}
		}
	}
	.promotion-cas{
		padding: 0 30px;
		.slick-list{
			margin: 0 -5px;
			.slick-slide{
				margin: 0 5px;
			}
		}
	}
	.promotion{
		.title{font-size: 14px;}
	}
	.posts-cas{
		padding: 0 30px;
		.slick-list{
			margin: 0 -5px;
			.slick-slide{
				margin: 0 5px;
			}
		}
	}
	.post-cate{
		.c-img{
			.title{
				font-size: 15px;
			}
		}
	}
	.md-services{
		margin-bottom: 0;
	}
	.service{
		margin-bottom: 25px;
		.icon{
			height: 35px;
			margin-bottom: 15px;
		}
		p{
			font-size: 14px;
		}
		strong{
			font-size: 14px;
		}
	}
}