.breadcrumbs{
	background: #f3f1f2;
	padding: 9px 0;
	margin-bottom: 30px;
	li{
		display: inline-block;
		text-transform: uppercase;
		color: #4b4b4b;
		a{
			&:after{
				@include font('\f105');
				margin-left: 10px;
				margin-right: 8px;
				color: #4b4b4b;
			}
			&:hover{
				color: $c1;
			}
		}
	}
}
.paginations{
	li{	
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
		a, span{
			display: block;
			width: 30px;
			height: 30px;
			text-align: center;
			background: #f2f0f0;
			border: solid 1px #dad9da;
			border-radius: 3px;
			color: #1d1d1d;
			font-size: 16px;
			line-height: 29px;
		}
	}
	li.disabled{
		a, span{
			color: #c2c2c2;
		}
	}
	li:hover, li.active{
		a, span{
			background: #e18037;
			border-color: #e18037;
			color: #fff;
		}
	}
}
.page-bar{
	padding-bottom: 16px;
	border-bottom: solid 1px #ebebeb;
	margin-bottom: 20px;
	.result{
		color: #1d1d1d;
		font-size: 16px;
		line-height: 30px;
	}
}
.page-desc{
	color: #343434;
	line-height: 1.4;
	margin-bottom: 25px;
}

@media all and (max-width: 767px){
	.breadcrumbs{
		margin-bottom: 20px;
	}
	.page-bar{
		.result{
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	.paginations{
		li{	
			margin-right: 2px;
			a, span{
				width: 25px;
				height: 25px;
				font-size: 13px;
				line-height: 23px;
			}
		}
	}
}