.pro{
	.c-img{
		padding-top: 100%;
		margin-bottom: 14px;
		background: #000;
		img{transition: all .2s ease-in-out;}
		.sale-off{
			background: #f62404;
			color: #fff;
			position: absolute;
			top: 0;
			right: 0;
			text-transform: uppercase;
			font-size: 18px;
			text-align: center;
			width: 64px;
			line-height: 1;
			font-weight: 300;
			padding-top: 10px;
			padding-bottom: 4px;
			strong{
				font-size: 25/18*100%;
				display: block;
			}
			&:after{
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 0;
				border-bottom: 10px solid transparent;
      			border-right: 32px solid #f62404;
      			border-left: 32px solid #f62404;
      			left: 0;
			}
		}
	}
	.title{
		font-size: 16px;
		color: #303030;
		line-height: 20px;
		font-weight: bold;
		height: 20px;
		overflow: hidden;
		margin-bottom: 15px;
	}
	.old-price{
		font-size: 16px;
		color: #3a3a3a;
	}
	.price{
		font-size: 24px;
		color: #d8341b;
		font-weight: bold;
		line-height: 1.2;
	}
	&:hover{
		.c-img img{opacity: 0.8}
		.title a{color: $c1;}
	}
	&.v2{
		border: solid 1px #edeced;
		padding: 9px 9px 14px 9px;
		font-size: 15;
		color: #202020;
		margin-bottom: 10px;
		.c-img{
			margin-bottom: 9px;
		}
		.title{
			margin-bottom: 10px;
			font-weight: normal;
		}
		.price{
			color: #d8341b;
			font-size: 23px;
		}
	}
}
.pro-cas{
	padding: 0 60px;
}
.pro-sidebar{
	border: solid 1px #edeced;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 10px;
	.title{
		background: #f6f5f6;
		font-size: 16px;
		font-weight: bold;
		color: #303030;
		line-height: 25px;
		padding: 10px 15px;
		&.v2{
			text-transform: uppercase;
		}
	}
	.ct{
		padding: 8px 18px;
		ul a{
			display: block;
			font-size: 16px;
			line-height: 20px;
			padding: 9px 0;
			&:hover, &.active{
				color: $c1;
			}
		}
		.i-check{
			line-height: 20px;
			padding: 6px 0;
			display: block;
		}
	}
}
.i-check{
	cursor: pointer;
	color: #3a3a3a;
	input{
		display: none;
		&:checked + i{
			background: $c1;
			border-color: $c1;
		}
	}
	i{
		width: 12px;
		height: 12px;
		border-radius: 2px;
		border :solid 1px #b7b7b7;
		@include middle;
		margin-right: 10px;
		margin-top: -2px;
		font-style: normal;
		font-size: 10px;
		text-align: center;
		line-height: 10px;
		padding-left: 1px;
		&:after{
			content: '\2714';
			color: #fff;
		}
	}
}
.filter-sidebar{
	margin-bottom: 30px;
}

@media all and (max-width: 991px){
	.filter-sidebar{

	}
}

@media all and (max-width: 767px){
	.pro-cas{
		padding: 0 30px;
	}
	.pro{
		.c-img{
			.sale-off{
				font-size: 14px;
				width: 50px;
				padding-top: 7px;
				padding-bottom: 4px;
				strong{
					font-size: 25/18*100%;
					margin-top: 2px;
				}
				&:after{
					border-bottom: 7px solid transparent;
	      			border-right: 25px solid #f62404;
	      			border-left: 25px solid #f62404;
				}
			}
		}
		.title{
			font-size: 15px;
			margin-bottom: 10px;
		}
		.old-price{
			font-size: 14px;
		}
		.price{
			font-size: 18px;
		}
		&.v2{
			border: none;
			padding: 0;
			margin-bottom: 20px;
			.title{font-size: 14px;}
			.price{
				font-size: 16px;
			}
		}
	}
}