@charset "UTF-8";
@font-face {
    font-family: 'Open Sans';
    src: url("../../font/Opensans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../../font/Opensans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../../font/Opensans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600; }

@font-face {
    font-family: 'Open Sans';
    src: url("../../font/Opensans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold; }

@font-face {
    font-family: 'Montserrat';
    src: url("../../font/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
    font-family: 'Montserrat';
    src: url("../../font/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300; }

@font-face {
    font-family: 'Montserrat';
    src: url("../../font/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500; }

@font-face {
    font-family: 'Montserrat';
    src: url("../../font/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600; }

@font-face {
    font-family: 'Montserrat';
    src: url("../../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold; }

object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    color: inherit;
    font-family: "Open Sans";
    font-weight: inherit;
    font-style: inherit;
}

b, strong, th {
    font-weight: bold;
}

strong{
    font-family: "Open Sans";
}

i, em {
    font-style: italic;
}

sub, sup {
    font-size: 75%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Open Sans";
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 20px 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ol, ul, li {
    padding: 0;
    list-style: none;
    margin: 0;
}

label {
    font-weight: normal;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding-left: 12px;
    padding-right: 12px;
}

select {
    padding-left: 8px;
    cursor: pointer;
}

input[type="number"] {
    padding-left: 5px;
}

textarea {
    padding: 8px 12px 5px 12px;
}

input, textarea, select, button, a, button:hover, button:active, button:focus {
    outline: none;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

* {
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-top: constant(safe-area-inset-top);
}

img {
    max-width: 100%;
    vertical-align: middle;
    -o-object-fit: cover;
    object-fit: cover;
}

.col-f20, .col-sm-f20, .col-md-f20, .col-lg-f20, .col-xl-f20 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.brand img, .service .icon img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.col-f20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 576px) {
    .col-sm-f20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 768px) {
    .col-md-f20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-f20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-xl-f20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.pad-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.pad-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.pad-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pad-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.col-mar-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.col-mar-0 > [class*="col-"], .col-mar-0 > .col, .col-mar-0 > [class^="col-"] {
    padding-left: 0px;
    padding-right: 0px;
}

.col-mar-3 {
    margin-left: -3px;
    margin-right: -3px;
}

.col-mar-3 > [class*="col-"], .col-mar-3 > .col, .col-mar-3 > [class^="col-"] {
    padding-left: 3px;
    padding-right: 3px;
}

.col-mar-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.col-mar-5 > [class*="col-"], .col-mar-5 > .col, .col-mar-5 > [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.col-mar-8 {
    margin-left: -8px;
    margin-right: -8px;
}

.col-mar-8 > [class*="col-"], .col-mar-8 > .col, .col-mar-8 > [class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}

.col-mar-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.col-mar-10 > [class*="col-"], .col-mar-10 > .col, .col-mar-10 > [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.fx-mid {
    -webkit-box-align: flex-center;
    -ms-flex-align: flex-center;
    align-items: flex-center;
}

.fx-bot {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.ifx-top {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.ifx-bot {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.ifx-mid {
    -ms-flex-item-align: flex-center;
    align-self: flex-center;
}

.jc-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.jc-bet {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.relative {
    position: relative;
}

.static {
    position: static;
}

.absolute {
    position: absolute;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ic {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.smooth {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.danh-muc-tin-tuc{
    margin-right: -40px;
}

@media all and (max-width: 991px) {
    .danh-muc-tin-tuc{
        margin-right: 0;
    }

    .header.col-log-mobi{
        margin: 0 auto;
    }

    .md-center {
        text-align: center !important;
    }

    .md-left {
        text-align: left !important;
    }

    .md-right {
        text-align: right !important;
    }

    .md-none {
        display: none;
    }

    .md-pad-7 {
        margin: 0 -7px;
    }

    .md-pad-7 > [class^="col-"] {
        padding: 0 7px;
    }

    .md-pad-5 {
        margin: 0 -5px;
    }

    .md-pad-5 > [class^="col-"] {
        padding: 0 5px;
    }

    .pro-sidebar .title{
        font-size: 14px !important;
        line-height: 17px !important;
    }
}

@media all and (max-width: 767px) {
    .sm-center {
        text-align: center !important;
    }

    .sm-left {
        text-align: left !important;
    }

    .sm-right {
        text-align: right !important;
    }

    .sm-none {
        display: none;
    }

    .sm-pad-7 {
        margin: 0 -7px;
    }

    .sm-pad-7 > [class^="col-"] {
        padding: 0 7px;
    }

    .sm-pad-5 {
        margin: 0 -5px;
    }

    .sm-pad-5 > [class^="col-"] {
        padding: 0 5px;
    }

    .tb-responsive {
        display: block;
    }

    .tb-responsive tbody, .tb-responsive tfoot, .tb-responsive tr, .tb-responsive th, .tb-responsive td {
        display: block;
    }

    .tb-responsive thead {
        display: none;
    }

    .tb-responsive tr:nth-child(2n) {
        background: #f5f5f5;
    }

    .tb-responsive td {
        position: relative;
        padding: 10px 10px 10px 50%;
    }

    .tb-responsive td:before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        width: 50%;
        padding-right: 15px;
    }

    .pro-content .ct-read-more{
        margin-top: 0 !important;
    }
}

@media all and (max-width: 575px) {
    .xs-center {
        text-align: center !important;
    }

    .xs-left {
        text-align: left !important;
    }

    .xs-right {
        text-align: right !important;
    }

    .xs-none {
        display: none;
    }

    .xs-pad-7 {
        margin: 0 -7px;
    }

    .xs-pad-7 > [class^="col-"] {
        padding: 0 7px;
    }

    .xs-pad-5 {
        margin: 0 -5px;
    }

    .xs-pad-5 > [class^="col-"] {
        padding: 0 5px;
    }
}

.slick-list {
    margin: 0 -15px;
}

.slick-list .slick-slide {
    margin: 0 10px;
    overflow: hidden;
}

.slick-arrow {
    cursor: pointer;
    z-index: 1;
    text-align: center;
    position: absolute;
}

.slick-dots {
    text-align: center;
}

.slick-dots button {
    display: none;
}

.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border: solid 2px #666;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots li.slick-active {
    background: #666;
}

.i-select {
    position: relative;
}

.i-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    -o-text-overflow: '';
    text-overflow: '';
    width: 100%;
}

.s-content {
    word-break: break-word;
}

.s-content a[href] {
    color: #007bff;
}

.s-content a[href]:hover {
    text-decoration: underline;
}

.s-content a, .s-content a:hover, .s-content a:focus, .s-content a:active {
    text-decoration: underline;
}

.s-content ol {
    list-style: decimal;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content ul {
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content li {
    list-style: inherit;
    margin-bottom: 5px;
}

.s-content p {
    margin-bottom: 10px;
}

.s-content img {
    max-width: 100%;
    height: auto !important;
    margin: 10px auto;
    -o-object-fit: initial;
    object-fit: initial;
}

.s-content .alignleft, .s-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}

.s-content .alignright, .s-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}

.s-content .aligncenter, .s-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}

.s-content blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}

.s-content blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}

.s-content table, .s-content iframe {
    max-width: 100%;
    max-width: calc(100vw - 30px);
    margin: auto;
}

.s-content table th, .s-content table td {
    border: solid 1px #666;
    border-collapse: collapse;
}

.s-content iframe {
    display: block;
}

.s-content figure {
    margin: 0 0 1rem;
}

.s-content h1, .s-content h2, .s-content h3, .s-content h4, .s-content h5, .s-content h6 {
    font-weight: bold;
}

.s-content h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.s-content h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.s-content h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.s-content h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

.s-content h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

.s-content h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

.table {
    display: table;
    margin: 0;
}

.table .line {
    display: table-row;
}

.table .cell {
    display: table-cell;
    vertical-align: middle;
}

.table.top .cell {
    vertical-align: top;
}

.table.bot .cell {
    vertical-align: bottom;
}

.c-img {
    display: block;
    position: relative;
}

.c-img img, .c-img .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.c-img2 {
    position: relative;
}

.c-img2:before {
    content: '';
    padding-top: 100%;
    display: block;
    visibility: hidden;
}

.c-img2 img, .c-img2 .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hc-upload {
    position: relative;
}

.hc-upload .hc-del {
    position: absolute;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 21px;
    line-height: 1;
    text-align: center;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    cursor: pointer;
}

.hc-upload .hc-del:hover {
    background: rgba(0, 0, 0, 0.85);
}

.over-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

body {
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 1.5;
    color: #333;
}

.break-10 {
    height: 10px;
}

.ic-cart {
    width: 46px;
    height: 40px;
    background-image: url("../../../../../images/chef/ic-cart.png");
}

.ic-user {
    width: 37px;
    height: 38px;
    background-image: url("../../../../../images/chef/ic-user.png");
}

.ic-face {
    width: 19px;
    height: 18px;
    background-image: url("../../../../../images/chef/face.png");
}

.ic-instagram {
    width: 20px;
    height: 18px;
    background-image: url("../../../../../images/chef/insta.png");
}

.ic-linkedin {
    width: 19px;
    height: 18px;
    background-image: url("../../../../../images/chef/linkedin.png");
}

@media all and (min-width: 1280px) {
    .container {
        max-width: 1260px;
    }

    .pro-sidebar .ct{
        padding: 8px 12px;
    }
}

header {
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
}

header .logo {
    display: inline-block;
    vertical-align: middle;
}

header .logo img {
    display: block;
}

header .top {
    background: #f4f4f4;
    color: #3f3f3f;
    padding: 7px 0;
}

header .top .top-nav li {
    display: inline-block;
    margin-right: 32px;
    position: relative;
}

header .top .top-nav li:after {
    content: '';
    height: 15px;
    width: 1px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    background: #cfcfcf;
    right: -19px;
}

header .top .top-nav li:last-child {
    margin-right: 0;
}

header .top .top-nav li:last-child:after {
    content: none;
}

header .top .top-nav li a {
    color: #3f3f3f;
}

header .top .top-nav li a strong {
    color: #cc5443;
}

header .top .top-nav li a:hover {
    color: #e18037;
}

.header {
    padding: 13px 0;
}

.search-fr {
    position: relative;
    margin-left: 35px;
    margin-right: -30px;
}

.search-fr input {
    width: 100%;
    height: 38px;
    border: solid 1px #e3e3e0;
    border-radius: 3px;
    padding-left: 15px;
}

.search-fr input::-webkit-input-placeholder {
    color: #bcbcbc;
}

.search-fr input:-moz-placeholder {
    color: #bcbcbc;
}

.search-fr input::-moz-placeholder {
    color: #bcbcbc;
}

.search-fr input:-ms-input-placeholder {
    color: #bcbcbc;
}

.search-fr button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    background: #e18037;
    color: #fff;
    width: 52px;
    border-radius: 0 3px 3px 0;
    font-size: 22px;
    padding-bottom: 3px;
}

.h-cart {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    padding-left: 60px;
}

.h-cart i {
    position: absolute;
    left: 0;
    margin-top: 0;
}

.h-cart span {
    display: block;
    color: #512625;
}

.h-cart strong {
    color: #c8402b;
    font-size: 16px;
    line-height: 1;
}

.h-cart label{
    position: absolute;
    top: -12px;
    right: -7px;
    font-weight: bold;
    color: #c8402b;
}

.h-user {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    padding-left: 44px;
    margin-left: 52px;
}

.h-user i {
    position: absolute;
    left: 0;
    margin-top: 4px;
}

.h-user span {
    display: block;
    color: #512625;
}

.h-user strong {
    color: #c8402b;
    font-size: 16px;
    line-height: 1;
}

.main-bar {
    background: #512625;
}

.main-nav > ul {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

.main-nav > ul > li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    height: 100%;
}

.main-nav > ul > li:first-child a{
    padding: 10px;
    height: 100%;
}

.main-nav > ul > li:first-child a i{
    font-size: 30px;
}

/*.main-nav > ul > li:first-child:hover a{*/
    /*background-color: #512625;*/
    /*color: #e18037;*/
/*}*/

.main-nav > ul > li:last-child {
    margin-right: 0;
}

.main-nav > ul > li > a {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 21px;
    font-family: "Open Sans";
}

.main-nav > ul > li > a.active{
    background-color: #e18037;
}

.main-nav > ul > li:hover > a {
    background: #e18037;
}

.main-nav > ul > li .h-cart {
    padding-left: 25px;
    margin-top: -10px;
    margin-left: 10px;
    display: none;
}

.main-nav > ul > li .h-cart span {
    display: none;
}

.main-nav > ul > li .h-cart i {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    left: 0;
}

.main-nav > ul > li .h-cart strong {
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #e18037;
    text-align: center;
    line-height: 18px;
    font-weight: normal;
    color: #fff;
    right: -11px;
    position: absolute;
}

.main-nav > ul > li {
    position: relative;
}

.main-nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.main-nav > ul > li > ul {
    position: absolute;
    background: #fff;
    padding: 5px 20px 10px 20px;
    z-index: 1;
    width: 493px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
}

.main-nav > ul > li:nth-last-child(2) ul{
    right: 0;
}

.main-nav > ul > li:nth-last-child(3) ul{
    right: -100px;
}

.main-nav > ul > li > ul > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.main-nav > ul > li > ul > li.view-all {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: right;
}

.main-nav > ul > li > ul > li.view-all a {
    display: inline-block;
    color: #ca402b;
}

.main-nav > ul > li > ul > li.view-all a:before {
    content: none;
}

.main-nav > ul > li > ul span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #282828;
    padding: 10px 0;
    font-family: "Open Sans";
}

.main-nav > ul > li > ul li a {
    display: block;
    padding: 5px 15px;
    font-size: 18px;
    color: #383838;
    position: relative;
    font-family: "Open Sans";
}

.main-nav > ul > li > ul li a:before {
    font-family: "FontAwesome";
    content: "";
    position: absolute;
    left: 0;
    font-size: 16px;
    margin-top: 1px;
}

.main-nav > ul > li > ul li li ul {
    padding-left: 18px;
}

.main-nav > ul > li > ul li li ul a:before {
    content: '\2022';
    font-size: 24px;
    line-height: 1;
    left: -2px;
}

.main-nav > ul > li > ul li li:hover > ul {
    display: block;
}

.main-nav > ul > li > ul li:hover > a {
    color: #e18037;
}

.m-nav-open {
    display: none;
}

.acd-drop:after {
    content: '\002B';
}

.acd-drop.active:after {
    content: '\2212';
}

@media all and (min-width: 992px) {
    .m-nav, .m-nav-over {
        display: none !important;
    }

    header.fixed {
        position: fixed;
        -webkit-box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
        box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
    }

    header.fixed .top, header.fixed .header {
        display: none;
    }

    header.fixed .main-nav > ul > li .h-cart {
        display: inline-block;
    }
}

@media all and (max-width: 1259px) {
    .main-nav > ul > li > a {
        font-size: 15px;
        padding: 15px 19px;
    }

    .h-user {
        margin-left: 30px;
    }

    .search-fr {
        margin-right: 0;
    }
}

@media all and (max-width: 1199px) {
    .main-nav > ul > li > a {
        font-size: 14px;
        padding: 15px 13px;
    }
}

@media all and (max-width: 991px) {
    .menu-btn {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        z-index: 1;
    }

    .menu-btn i {
        display: block;
        margin: auto;
        border-top: solid 2px #4b2423;
        width: 17px;
        border-bottom: double 7px #4b2423;
        height: 12px;
    }

    .menu-btn.act i {
        width: auto;
        height: auto;
        border: none;
    }

    .menu-btn.act i:after, .menu-btn.act i:before {
        content: '';
        display: block;
        margin: auto;
        width: 17px;
        border-bottom: solid 2px #4b2423;
    }

    .menu-btn.act i:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -2px;
    }

    .menu-btn.act i:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu-btn.v2 {
        background: #e18037;
    }

    .menu-btn.v2 i {
        border-color: #fff;
    }

    .menu-btn.v2.act i:after, .menu-btn.v2.act i:before {
        border-color: #fff;
    }

    .main-nav {
        display: none;
    }

    .m-nav-over {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 998;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        cursor: pointer;
    }

    .m-nav {
        display: block;
        position: fixed;
        top: 0;
        width: 280px;
        bottom: 0;
        z-index: 999;
        color: #fff;
        background: #333;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        left: -280px;
    }

    .m-nav.active {
        -webkit-box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.15);
        left: 0;
    }

    .m-nav.active .m-nav-close {
        visibility: visible;
        opacity: 1;
    }

    .m-nav .m-nav-close {
        position: absolute;
        top: 0;
        width: 40px;
        height: 40px;
        left: 100%;
        background: #444;
        outline: none;
        color: #fff;
        font-size: 27px;
        cursor: pointer;
        -webkit-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
        opacity: 0;
        visibility: hidden;
        font-family: initial;
    }

    .m-nav .nav-ct {
        height: 100%;
        overflow: auto;
        padding-bottom: 20px;
    }

    .m-nav .nav-ct > ul a, .m-nav .nav-ct > ul span {
        display: block;
        font-size: 14px;
        font-family: arial;
        line-height: 20px;
        padding: 10px 15px 10px 18px;
        border-bottom: solid 1px #444;
        position: relative;
    }

    .m-nav .nav-ct > ul span {
        padding-left: 35px;
    }

    .m-nav .nav-ct > ul ul {
        background: rgba(255, 255, 255, 0.04);
        display: none;
    }

    .m-nav .nav-ct > ul ul a {
        padding-left: 36px;
    }

    .m-nav .nav-ct > ul ul ul a {
        padding-left: 54px;
    }

    .m-nav .search-fr {
        margin: 10px 17px 10px 17px;
    }

    .m-nav .search-fr button {
        background: none;
        color: #e18037;
        width: auto;
        right: 10px;
        font-size: 16px;
    }

    .m-nav .search-fr input {
        border: none;
        padding-left: 15px;
    }

    .m-nav .acd-drop {
        width: 40px;
        height: 40px;
        float: right;
        position: relative;
        z-index: 1;
        font-size: 20px;
        color: inherit;
        font-family: monospace;
        outline: none;
        cursor: pointer;
        border-left: solid 1px #444;
        background: rgba(255, 255, 255, 0.04);
    }

    .header {
        padding: 0;
    }

    header {
        position: relative;
        padding: 10px 0;
    }

    header .logo img {
        max-height: 50px;
    }

    header .m-nav-open {
        margin-right: -10px;
    }

    header.m-fixed {
        position: fixed;
        -webkit-box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
        box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
    }

    header .top {
        display: none;
    }

    .h-cart, .h-user {
        padding-left: 0px;
    }

    .h-cart i, .h-user i {
        position: static;
        margin: 0;
        display: block;
        height: 24px;
        width: 24px;
    }

    .h-cart span, .h-user span {
        display: none;
    }

    .h-cart strong, .h-user strong {
        display: none;
    }

    .h-user {
        margin-right: 6px;
        margin-left: 18px;
        vertical-align: middle;
    }

    .pro-sidebar .ct{
        display: none;
    }
}

footer {
    color: #434342;
    line-height: 2;
    background: #f2f0f0;
    border-top: solid 1px #e9e8e8;
    padding-top: 28px;
}

footer .f-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}

footer .facebook {
    margin-top: 9px;
    margin-left: -20px;
}

footer .fcol-1 {
    margin-right: 90px;
}

footer .fcol-2 {
    margin-left: -90px;
}

footer .fcol-3 {
    margin-left: 30px;
}

footer .ct ul li {
    font-size: 13px;
    line-height: 28px;
}

footer a:hover {
    color: #e18037;
}

footer .social {
    margin-bottom: 12px;
}

footer .social a {
    display: block;
    position: relative;
    padding-left: 31px;
    font-size: 13px;
    font-family: "Arial";
    margin-bottom: 6px;
}

footer .social a i {
    position: absolute;
    left: 0;
    margin-top: 3px;
}

footer .social a:hover {
    color: #e18037;
}

footer .f-img img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    max-height: 30px;
    margin-bottom: 10px;
}

footer .footer {
    background: #dedcdc;
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 8px;
}

footer .footer ul li {
    display: inline-block;
    margin: 0 10px 1px 10px;
    position: relative;
}

footer .footer ul li:after {
    content: '';
    width: 1px;
    height: 11px;
    top: 50%;
    margin-top: -5px;
    position: absolute;
    right: -13px;
    background: #434342;
}

footer .footer ul li:last-child:after {
    content: none;
}

footer .footer .copyright {
    margin-top: 13px;
    line-height: 23px;
}

footer .ct .s-content i {
    font-size: 16px;
    width: 30px;
    text-align: center;
}

.back-to-top {
    display: none;
    position: fixed;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    right: 15px;
    bottom: 15px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 44px;
    background: #eb5254;
    color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.5);
    box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.5);
}

.back-to-top:hover {
    -webkit-box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.8);
    box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.8);
}

@media all and (max-width: 991px) {
    footer .fcol-1 {
        margin-right: 0px;
    }

    footer .fcol-2 {
        margin-left: 0px;
    }

    footer .fcol-3 {
        margin-left: 0px;
    }

    footer .ct .s-content {
        margin-bottom: 20px;
    }

    footer .facebook {
        margin-left: 0;
        margin-top: 20px;
    }

    footer .footer ul li:after {
        content: none;
    }
}

.md-slider .slick-list {
    margin: 0;
}

.md-slider .slick-list .slick-slide {
    margin: 0;
}

.md-slider .item {
    position: relative;
    vertical-align: middle;
}

.md-slider .img img {
    display: block;
    width: 100%;
}

.md-slider .slick-arrow {
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    border-top: solid 2px;
    border-right: solid 2px;
    color: #fff;
}

.md-slider .slick-arrow:hover {
    color: #e18037;
}

.md-slider .slick-arrow.prev {
    left: 13px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.md-slider .slick-arrow.next {
    right: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.md-slider .slick-dots {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
}

.md-slider .slick-dots li {
    border-color: #e18037;
}

.md-slider .slick-dots li.slick-active {
    background: #e18037;
}

.md-title {
    text-transform: uppercase;
    font-size: 35px;
    color: #212121;
    font-weight: bold;
    text-align: center;
    font-family: "Open Sans";
    margin-top: 38px;
    margin-bottom: 38px;
}

.title-video-relate{
    text-transform: none;
    font-size: 18px;
}

.md-brand {
    background: #f9f9f9;
    padding-top: 1px;
    padding-bottom: 70px;
}

.brand-cas {
    padding: 0 40px;
}

.cas-arrow {
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    border-top: solid 2px;
    border-right: solid 2px;
    color: #888;
}

#product_video_related .cas-arrow{
    margin-top: -30px;
    width: 10px;
    height: 10px;
}

.cas-arrow:hover {
    color: #e18037;
}

.cas-arrow.prev {
    left: 10px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.cas-arrow.next {
    right: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.brand {
    height: 70px;
    position: relative;
    display: block;
}

.md-cates {
    overflow: hidden;
}

.md-cate {
    margin-bottom: 6px;
    position: relative;
}

.md-cate .c-img {
    padding-top: 80.59937%;
    background: #e18037;

}

.md-cate .c-img img {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.md-cate .caption {
    position: absolute;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 36px;
    left: 40px;
    top: 36px;
    color: #fff;
    line-height: 1.35;
    text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    font-weight: bold;
}

.md-cate .caption strong {
    font-size: 100%;
}

.md-cate .caption.v2 {
    top: auto;
    bottom: 35px;
}

.md-cate .caption.v3 {
    top: auto;
    bottom: 15px;
    left: auto;
    right: 26px;
    text-align: right;
}

.md-cate.v2 .c-img {
    padding-top: 40.0626%;
    background-color: #e18037;
}

.md-cate:hover .c-img img {
    opacity: 0.6;
}

.md-products {
    overflow: hidden;
}

.md-featured {
    overflow: hidden;
}

.featured-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 65px;
}

.featured-box:last-child {
    margin-bottom: 30px;
}

.featured-box .bn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21.05263%;
    flex: 0 0 21.05263%;
    margin-right: 30px;
}

.featured-box .ct {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.featured-box .featured-cas{
    padding: 0 10px;
}

.featured-box .featured-cas .pro .title {
    font-weight: normal;
    margin-bottom: 5px;
    height: 65px;
}

.featured-box .featured-cas .pro .c-img {
    margin-bottom: 11px;
}

.promotion-cas {
    padding: 0 52px;
}

.promotion-cas .slick-arrow {
    margin-top: -20px;
}

.promotion .c-img {
    padding-top: 133%;
    margin-bottom: 11px;
    background: #000;
}

.promotion .c-img img {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.promotion .title {
    font-size: 16px;
    font-weight: bold;
    color: #303030;
    height: 48px;
    overflow: hidden;
}

.promotion:hover .c-img img {
    opacity: 0.7;
}

.promotion:hover .title a {
    color: #e18037;
}

.posts-cas {
    padding: 0 52px;
}

.post-cate .c-img {
    padding-top: 100%;
    background: #512625;
    overflow: hidden;
}

.post-cate .c-img img {
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.md-news-host .post-cate .c-img img {
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.post-cate .c-img .title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 34px;
    line-height: 1.16667;
    font-weight: 500;
    font-family: Montserrat;
}

.post-cate .c-img .title strong {
    display: block;
}

.post-cate .c-img:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.service {
    text-align: center;
    margin-bottom: 70px;
    min-height: 170px;
}

.service .icon {
    height: 68px;
    position: relative;
    margin-bottom: 19px;
}

.service p {
    color: #212121;
    font-size: 20px;
}

.service strong {
    color: #212121;
    font-size: 20px;
}

.md-services {
    margin-bottom: -30px;
}

@media all and (max-width: 1199px) {
    .featured-box {
        display: block;
        margin-bottom: 30px;
    }

    .featured-box:last-child {
        margin-bottom: 10px;
    }

    .featured-box .bn {
        display: none;
    }

    .featured-box .featured-cas {
        padding: 0 30px;
    }

    .post-cate .c-img .title {
        font-size: 20px;
        line-height: 1.3;
    }
    .service{
        min-height: 215px;
    }
    .service .icon{
        margin-top: 13px;
    }
}

@media all and (max-width: 991px) {
    .md-title {
        font-size: 28px;
        margin-top: 35px;
        margin-bottom: 28px;
    }

    .md-brand {
        padding-bottom: 50px;
    }

    .md-cate .caption {
        font-size: 20px;
        left: 20px;
        top: 15px;
    }

    .md-cate .caption.v2 {
        bottom: 15px;
    }

    .md-cate .caption.v3 {
        bottom: 10px;
        right: 16px;
    }

    .service {
        margin-bottom: 35px;
        min-height: 147px;
    }

    .service .icon {
        height: 38px;
        margin-bottom: 19px;
        margin-top: 10px;
    }

    .service p {
        font-size: 16px;
    }

    .service strong {
        font-size: 16px;
    }
}

@media all and (max-width: 767px) {
    .md-title {
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 18px;
    }

    .brand {
        height: 50px;
    }

    .md-brand {
        padding-bottom: 30px;
    }

    .md-cate .caption {
        font-size: 18px;
        top: 10px;
        left: 10px;
    }

    .md-cate .caption.v3 {
        right: 10px;
    }

    .promotion-cas {
        padding: 0 30px;
    }

    .promotion-cas .slick-list {
        margin: 0 -5px;
    }

    .promotion-cas .slick-list .slick-slide {
        margin: 0 5px;
    }

    .promotion .title {
        font-size: 14px;
    }

    .posts-cas {
        padding: 0 30px;
    }

    .posts-cas .slick-list {
        margin: 0 -5px;
    }

    .posts-cas .slick-list .slick-slide {
        margin: 0 5px;
    }

    .post-cate .c-img .title {
        font-size: 18px;
    }

    .md-services {
        margin-bottom: 0;
    }

    .service {
        margin-bottom: 25px;
        min-height: 110px;
    }

    .service .icon {
        height: 35px;
        margin-bottom: 15px;
    }

    .service p {
        font-size: 14px;
    }

    .service strong {
        font-size: 14px;
    }
}

@media all and (max-width: 404px) {
    .service {
        margin-bottom: 25px;
        min-height: 139px;
    }

    .service .icon{
        margin-top: 8px;
    }
}

.btn-call {
    position: fixed;
    bottom: 20px;
    left: 40px;
    z-index: 99;
}

.btn-call span {
    display: block;
    font-size: 16px;
    width: 38px;
    height: 38px;
    margin: auto;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background: #eb5254;
    position: relative;
}

.btn-call span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: solid 1px rgba(235, 82, 84, 0.6);
    -webkit-animation-name: zoomin;
    animation-name: zoomin;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn-call span:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: rgba(235, 82, 84, 0.6);
    z-index: -1;
    -webkit-animation-name: zoomout;
    animation-name: zoomout;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-call span i {
    -webkit-animation-name: lac;
    animation-name: lac;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@media all and (max-width: 767px) {
    .btn-call {
        top: auto;
        left: 20px;
        bottom: 20px;
    }
}

@keyframes lac {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    20% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    30% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes lac {
    0% {
        -webkit-transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(-25deg);
    }
    20% {
        -webkit-transform: rotate(25deg);
    }
    30% {
        -webkit-transform: rotate(-25deg);
    }
    40% {
        -webkit-transform: rotate(25deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: .1;
    }
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2.2);
        opacity: .1;
    }
}

@keyframes zoomout {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .3;
    }
}

@-webkit-keyframes zoomout {
    0% {
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }
}

.pro .c-img {
    padding-top: 100%;
    margin-bottom: 14px;
    background: #000;
}

.pro .c-img img {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#featured_news_related .pro .c-img-v2{
    padding-top: 68%;
}

#featured_news_related .pro h3.title{
    font-size: 14px;
}

.pro .c-img .sale-off {
    background: #e18037;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    width: 64px;
    line-height: 1;
    font-weight: 300;
    padding-top: 10px;
    padding: 17px 0;
}

.pro .c-img .sale-off strong {
    font-size: 130.88889%;
    display: block;
}

.pro .c-img .sale-off:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-right: 32px solid #e18037;
    border-left: 32px solid #e18037;
    left: 0;
}

.pro .title {
    font-size: 16px;
    color: #303030;
    line-height: 20px;
    font-weight: bold;
    height: 65px;
    overflow: hidden;
    margin-bottom: 10px;
}

.pro .old-price {
    font-size: 14px;
    color: #3a3a3a;
}

.pro .price {
    font-size: 16px;
    color: #e18037;
    font-weight: bold;
    line-height: 1.2;
}

.pro:hover .c-img img {
    opacity: 0.8;
}

.pro:hover .title a {
    color: #e18037;
}

.pro.v2 {
    border: solid 1px #edeced;
    padding: 7px 9px 14px 9px;
    font-size: 15px;
    color: #202020;
    margin-bottom: 10px;
}

.pro.v2 .c-img {
    margin-bottom: 9px;
}

.pro.v2 .title {
    margin-bottom: 10px;
    font-weight: normal;
}

.pro.v2 .price {
    color: #e18037;
    font-size: 20px;
}

.pro-cas {
    padding: 0 60px;
}

.pro-sidebar {
    border: solid 1px #edeced;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    background: white;
}

.pro-sidebar .title {
    background: #ffffff;
    font-size: 16px;
    font-weight: bold;
    color: #303030;
    line-height: 25px;
    padding: 10px 15px;
    border-bottom: 1px solid #f3f1f2;
}

.pro-sidebar .title.v2 {
    text-transform: uppercase;
    font-family: "Open Sans" !important;
}

.pro-sidebar .ct {
    padding: 8px 18px;
}

.pro-sidebar .ct ul a {
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 0;
}

.pro-sidebar .ct ul a:hover, .pro-sidebar .ct ul a.active {
    color: #e18037;
}

.pro-sidebar .ct .i-check {
    line-height: 20px;
    padding: 6px 0;
    display: block;
}

.i-check {
    cursor: pointer;
    color: #3a3a3a;
}

.i-check input {
    display: none;
}

.i-check .icon-trademark{
  width: 40px;
  height: auto;
}

.i-check input:checked + i {
    background: #e18037;
    border-color: #e18037;
}

.i-check i {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: solid 1px #b7b7b7;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    padding-left: 1px;
}

.i-check input:checked + i::after{
    content: '\2714';
    color: #fff;
}

/*.i-check i:after {*/
/*    content: '\2714';*/
/*    color: #fff;*/
/*}*/

@media (min-width: 992px) and (max-width: 1280px) {
    .pro-sidebar .ct{
        padding: 8px 12px;
    }
    .pro-sidebar .title{
        font-size: 14px;
    }

    .pro-sidebar .ct .i-check{
        font-size: 12px;
    }

    .pro-sidebar .ct ul a{
        font-size: 14px;
    }
}


.filter-sidebar {
    margin-bottom: 30px;
}

.pro-img-cas {
    margin-bottom: 10px;
}

.pro-img-cas .slick-list {
    margin: 0 -5px;
}

.pro-img-cas .slick-list .slick-slide {
    margin: 0 5px;
}

.pro-img-cas .c-img {
    padding-top: 100%;
}

.pro-img-cas .c-img iframe {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pro-thumb-cas .slick-list {
    margin: 0 -5px;
}

.pro-thumb-cas-gift .slick-list {
    margin: 0 -5px;
}

.pro-thumb-cas .slick-list .slick-slide {
    margin: 0 5px;
}

.pro-thumb-cas-gift .slick-list .slick-slide {
    margin: 0 5px;
}

.pro-thumb-cas .slick-arrow {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.pro-thumb-cas-gift .slick-arrow {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.pro-thumb-cas .slick-arrow.prev {
    left: 0;
}

.pro-thumb-cas-gift .slick-arrow.prev {
    left: 0;
}

.pro-thumb-cas .slick-arrow.next {
    right: 0;
}

.pro-thumb-cas-gift .slick-arrow.next {
    right: 0;
}

.pro-thumb-cas .slick-arrow:hover {
    background: #e18037;
}

.pro-thumb-cas-gift .slick-arrow:hover {
    background: #e18037;
}

.pro-thumb-cas .c-img {
    padding-top: 100%;
    cursor: pointer;
    background: #000;
}

.pro-thumb-cas-gift .c-img {
    padding-top: 100%;
    cursor: pointer;
    background: #000;
}

.pro-thumb-cas .c-img img {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.pro-thumb-cas-gift .c-img img {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.pro-img-cas .c-img.video-btn:after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -40px;
    background-image: url("../../../../../images/chef/s-play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pro-thumb-cas-gift .c-img.video-btn:after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -40px;
    background-image: url("../../../../../images/chef/s-play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pro-thumb-cas .c-img.video-btn:after {
    content: '';
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
    background-image: url("../../../../../images/chef/s-play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pro-thumb-cas-gift .c-img.video-btn:after {
    content: '';
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
    background-image: url("../../../../../images/chef/s-play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pro-thumb-cas .c-img:hover img {
    opacity: 0.7;
}

.pro-thumb-cas-gift .c-img:hover img {
    opacity: 0.7;
}

.pro-detail .title {
    font-weight: bold;
    font-size: 20px;
    color: #111;
}
.pro-detail .price {
    font-size: 25px;
    color: #e18037;
    font-weight: bold;
    margin-bottom: 8px;
}

.pro-detail p {
    color: #454545;
    line-height: 23px;
}

.pro-detail .show-price strong{
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #e18037;
    background: #e18037;
    padding: 0 5px;
}

.pro-detail .desc {
    line-height: 1.35;
    margin-top: 12px;
    margin-bottom: 5px;
}

.pro-detail .desc div.desc-content{
    border-top: solid 1px #e2e0e0;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.pro-detail .i-number {
    padding-right: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.pro-detail .i-number input {
    height: 45px;
    border: none;
    background: #dfdfdf;
    text-align: center;
    padding: 0;
    width: 50px;
}

.pro-detail .i-number .n-ctrl {
    position: absolute;
    right: 0;
    width: 19px;
    height: 22px;
    position: absolute;
    right: 0;
    background: #dfdfdf;
    text-align: center;
    line-height: 19px;
}

.pro-detail .i-number .n-ctrl.up {
    top: 0;
}

.pro-detail .i-number .n-ctrl.down {
    bottom: 0;
}

.pro-detail .i-number .n-ctrl:hover {
    background: #d8341b;
    color: #fff;
}

.pro-detail .add-to-cart {
    background: #e18037;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    position: relative;
    line-height: 39px;
    text-align: center;
    padding: 0 20px 0 59px;
}

#btn-hotline-3{
    color: white !important;
    padding: 0;
    line-height: 26px;
    height: 53px;
    margin-top: 20px;
    width: 320px;
}

.pro-detail .add-to-cart i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    font-size: 21px;
    width: 39px;
    line-height: 39px;
}

.pro-detail .add-to-cart:hover {
    background: #ca5b09;
}

.pro-content {
    margin-top: 40px;
}

.pro-content .title {
    font-weight: bold;
    color: #343434;
    font-size: 18px;
    border-bottom: solid 1px #e2e0e0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.pro-content .s-content {
    line-height: 1.4;
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

.pro-content .s-content:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 30px;
    bottom: 0;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}

.pro-content .s-content.active {
    max-height: none;
}

.pro-content .s-content.active:after {
    content: none;
}

.pro-content .ct-read-more {
    display: inline-block;
    vertical-align: middle;
    /*padding: 9px 40px;*/
    /*background: #e18037;*/
    border-radius: 3px;
    color: #000;
    margin-top: 20px;
}

.pro-faq {
    margin-top: 30px;
}

.pro-faq .title {
    font-weight: bold;
    color: #343434;
    font-size: 18px;
    margin-bottom: 13px;
}

.pro-faq .form {
    position: relative;
    padding-right: 130px;
    margin-bottom: 16px;
}

.pro-faq .form input {
    width: 100%;
    height: 40px;
    border: solid 1px #e6e5e5;
    border-radius: 4px;
}

.pro-faq .form input::-webkit-input-placeholder {
    color: #989898;
}

.pro-faq .form input:-moz-placeholder {
    color: #989898;
}

.pro-faq .form input::-moz-placeholder {
    color: #989898;
}

.pro-faq .form input:-ms-input-placeholder {
    color: #989898;
}

.pro-faq .form button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 122px;
    border-radius: 4px;
    background: #e18037;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.pro-faq .form button:hover {
    background: #512625;
}

.pro-faq .s-content {
    line-height: 24px;
}

.reviews {
    margin-top: 60px;
}

.reviews .title {
    font-weight: bold;
    color: #343434;
    font-size: 18px;
    margin-bottom: 30px;
}

.reviews .review-btn {
    background: #e18037;
    height: 54px;
    font-size: 16px;
    line-height: 54px;
    border-radius: 4px;
    color: #fff;
    display: block;
    max-width: 206px;
    margin: 10px auto auto;
    text-align: center;
}

.rating-star {
    color: #e18037;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1;
    position: relative;
}

.rating-star.v2 {
    font-size: 15px;
}

.rating-star i {
    font-style: normal;
}

.rating-star i:after {
    font-family: "FontAwesome";
    content: "";
}

.rating-star a i:after {
    content: "\f006";
}

.rating-star .star-base {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.rate-total {
    text-align: center;
}

.rate-total p {
    font-size: 16px;
}

.rate-total .point {
    color: #e18037;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.3;
}

.rate-total span {
    color: #7c7a7a;
    display: block;
    margin-top: 5px;
}

.rate-result .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.rate-result .line:last-child {
    margin-bottom: 0;
}

.rate-result .line label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
    font-size: 16px;
    margin-right: 10px;
}

.rate-result .line label i {
    font-size: 18px;
}

.rate-result .line span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: right;
    color: #555555;
    margin-left: 10px;
}

.rate-result .line .bar {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    height: 9px;
    border-radius: 10px;
    background: #cccbcb;
}

.rate-result .line .bar .per {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: #57ab36;
}

.review-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 40px;
}

.review-filter span {
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.review-filter .i-select {
    position: relative;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.review-filter .i-select select {
    height: 36px;
    border-radius: 3px;
    border: solid 1px #d9d9d9;
    padding: 0 40px 0 15px;
}

.review-filter .i-select:after {
    font-family: "FontAwesome";
    content: "";
    font-size: 16px;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

.review-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    /*border-bottom: solid 1px #e2e1e1;*/
    padding-bottom: 18px;
}

.review-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.review-item .user {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    margin-right: 22px;
    text-align: center;
}

.review-item .user img {
    width: 68px;
    height: 68px;
    display: block;
    margin: 0 auto 5px auto;
    border-radius: 50%;
}

.review-item .user .name {
    font-weight: bold;
    font-size: 13px;
    font-family: 'Tahoma';
    margin-bottom: 1px;
}

.review-item .user p {
    font-size: 11px;
    font-family: 'Tahoma';
}

.review-item .ct {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.review-item .ct .i-title {
    font-size: 15px;
    font-weight: bold;
    color: #3b3b3b;
    line-height: 1.4;
    margin-bottom: 3px;
    margin-top: -3px;
}

.review-item .ct .rating-star {
    margin-bottom: 5px;
}

.review-item .ct p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 8px;
}

.review-item .ct .ctrls {
    font-size: 13px;
    color: #0f8ddd;
}

.review-item .ct .ctrls a {
    margin-right: 75px;
}

.review-item .ct .ctrls a:last-child {
    margin-right: 0;
}

.review-item .ct .ctrls a:hover {
    color: #e18037;
}

.review-item .ct input {
    width: 100%;
    height: 38px;
    margin-bottom: 5px;
    border: solid 1px #e1e1e1;
    display: block;
    border-radius: 3px;
}

.review-item .ct textarea {
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: solid 1px #e1e1e1;
}

.review-item .ct button {
    /*width: 100%;*/
    padding: 10px 15px;
    float: right;
    height: 38px;
    background: #e18037;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.review-item .ct button:hover {
    background: #512625;
}

#review-form {
    display: none;
}

@media all and (max-width: 991px) {
    .rate-result {
        margin: 20px 0;
    }

    .reviews {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .reviews .title {
        margin-bottom: 20px;
    }

    .review-filter {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .review-filter span {
        margin-right: 15px;
    }

    .review-filter .i-select select {
        padding-left: 12px;
        padding-right: 28px;
    }

    .reviews .review-btn {
        height: 45px;
        line-height: 45px;
    }

    .pro-detail .price {
        font-size: 22px;
    }
}

@media all and (max-width: 767px) {

    .pro-content .s-content {
        max-height: 100px;
    }

    .md-slider .img img{
        width: 100%;
        height: 180px;
    }

    .pro-cas {
        padding: 0 30px;
    }

    .pro .c-img .sale-off {
        font-size: 14px;
        width: 50px;
        padding-top: 7px;
        padding-bottom: 4px;
    }

    .pro .c-img .sale-off strong {
        font-size: 130.88889%;
        margin-top: 2px;
    }

    .pro .c-img .sale-off:after {
        border-bottom: 7px solid transparent;
        border-right: 25px solid #e18037;
        border-left: 25px solid #e18037;
    }

    .pro .title {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .pro .old-price {
        font-size: 11px;
    }

    .pro .price {
        font-size: 13px;
    }

    .pro.v2 {
        border: none;
        padding: 5px 7px;
        margin-bottom: 20px;
    }

    .pro.v2 .title {
        font-size: 14px;
    }

    .pro.v2 .price {
        font-size: 15px;
    }

    .review-filter span {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 5px;
    }

    .review-filter .i-select select {
        padding-left: 12px;
        padding-right: 28px;
    }

    .review-item .user {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        margin-right: 10px;
    }

    .review-item .user img {
        width: 60px;
        height: 60px;
    }

    .review-item .user p {
        display: none;
    }

    .review-item .ct .i-title {
        font-size: 14px;
    }

    .review-item .ct .ctrls a {
        margin-right: 20px;
    }


}

.breadcrumbs {
    background: #f3f1f2;
    padding: 9px 0;
    margin-bottom: 30px;
}

.breadcrumbs li {
    display: inline-block;
    /*text-transform: uppercase;*/
    color: #4b4b4b;
}

.breadcrumbs li.active{
    color: #e18037;
}

.breadcrumbs li a:after {
    font-family: "FontAwesome";
    content: "";
    margin-left: 10px;
    margin-right: 8px;
    color: #4b4b4b;
}

.breadcrumbs li a:hover {
    color: #e18037;
}

.paginations li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.paginations li:last-child {
    margin-right: 0;
}

.paginations li a, .paginations li span {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #f2f0f0;
    border: solid 1px #dad9da;
    border-radius: 3px;
    color: #1d1d1d;
    font-size: 16px;
    line-height: 29px;
}

.paginations li.disabled a, .paginations li.disabled span {
    color: #c2c2c2;
}

.paginations li:hover a, .paginations li:hover span, .paginations li.active a, .paginations li.active span {
    background: #e18037;
    border-color: #e18037;
    color: #fff;
}

.page-bar {
    padding-bottom: 10px;
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 20px;
}

.page-bar .result {
    color: #1d1d1d;
    font-size: 16px;
    line-height: 30px;
}

.page-desc {
    color: #343434;
    line-height: 1.4;
    margin-bottom: 25px;
}

.sidebar {
    margin-bottom: 40px;
}

.sidebar .sb-title {
    font-weight: bold;
    font-size: 16px;
    color: #111;
    margin-bottom: 19px;
    line-height: 18px;
}

.hv-over {
    background: #000;
}

.hv-over img {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hv-over:hover img {
    opacity: 0.7;
}

.sb-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 28px;
}

.sb-post .img {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65px;
    flex: 0 0 65px;
    height: 52px;
    margin-right: 12px;
}

.sb-post .img img {
    display: block;
    width: 100%;
    height: 100%;
}

.sb-post .title {
    font-size: 14px;
    line-height: 16px;
    color: #272727;
    margin-bottom: 4px;
    margin-top: -1px;
    max-height: 32px;
    overflow: hidden;
}

.sb-post .title a:hover {
    color: #e18037;
}

.sb-post p {
    color: #606770;
    font-size: 13px;
    font-family: "Arial";
}

.sb-pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 28px;
}

.sb-pro .img {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 72px;
    flex: 0 0 72px;
    height: 72px;
    margin-right: 12px;
}

.sb-pro .img img {
    display: block;
    width: 100%;
    height: 100%;
}

.sb-pro .title {
    font-size: 14px;
    line-height: 16px;
    color: #272727;
    margin-top: -1px;
    max-height: 32px;
    overflow: hidden;
    margin-bottom: 5px;
}

.sb-pro .title a:hover {
    color: #e18037;
}

.sb-pro .price {
    line-height: 1;
    margin-bottom: 3px;
}

.sb-pro .price strong {
    font-weight: bold;
    color: #e18037;
    margin-right: 30px;
}

.sb-pro .price del {
    color: #666;
}

.sb-pro .label {
    background: #e18037;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    height: 17px;
    padding: 0 6px;
    display: inline-block;
}

.page-gray {
    background: #f5f5f5;
}

.about-sidebar {
    margin-bottom: 30px;
}

.about-sidebar > ul > li > ul{
    display: none;
}

.about-sidebar > ul > li:hover > ul{
    display: block;
}

.about-sidebar .title {
    background: #4b2322;
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
}

.about-sidebar ul {
    background: #fff;
    border-radius: 0 0 3px 3px;
    padding: 0 12px;
}

.about-sidebar ul a {
    display: block;
    border-bottom: solid 1px #e8e9e9;
    color: #272727;
    padding: 10px 10px 10px 27px;
    position: relative;
}

.about-sidebar ul a:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: solid 1px;
    position: absolute;
    left: 5px;
    padding: 2px;
    background-color: #272727;
    background-clip: content-box;
    top: 50%;
    margin-top: -5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.about-sidebar ul a:hover, .about-sidebar ul a.active {
    color: #e18037;
}

.about-sidebar ul a:hover:after, .about-sidebar ul a.active:after {
    background-color: #e18037;
}

.about-sidebar ul li:last-child a {
    border: none;
}

.about-content {
    background: #fff;
    padding: 20px 23px;
    margin-bottom: 55px;
}

.post-sidebar {
    background: #fff;
    border-radius: 3px;
    margin-right: -40px;
    margin-bottom: 10px;
}

.post-sidebar .title {
    font-weight: bold;
    font-size: 17px;
    color: #000;
    border-bottom: solid 1px #efeeee;
    line-height: 24px;
    padding: 10px 15px;
}

.post-sidebar ul {
    padding: 15px 15px 8px 15px;
}

.post-sidebar li {
    margin-bottom: 10px;
}

.post-sidebar li a:hover {
    color: #e18037;
}

.sb-buy {
    padding: 10px 15px;
}

.sb-buy .item {
    border-bottom: solid 1px #efeeee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sb-buy .item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.sb-buy .label {
    line-height: 22px;
    position: relative;
    padding-left: 30px;
    font-weight: bold;
    color: #000000;
}

.sb-buy .label span {
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background: #e18037;
    color: #fff;
    text-align: center;
    line-height: 22px;
}

.sb-buy .saler {
    display: inline-block;
    margin-right: 20px;
    margin-top: 7px;
    width: 100%;
}

.sb-buy .saler:last-child {
    margin-right: 0;
}

.sb-buy .saler i {
    color: #7fba00;
}

.sb-buy .phone {
    margin-top: 6px;
}

.sb-buy .phone span {
    color: #e18037;
}

.sb-buy .studio {
    position: relative;
    padding-left: 22px;
    margin-top: 5px;
}

.sb-buy .studio i {
    position: absolute;
    left: 0;
    margin-top: 3px;
}

.sb-video {
    padding: 15px 15px 5px 15px;
}

.sb-video .c-img {
    padding-top: 68.96552%;
    margin-bottom: 10px;
}

.sb-video iframe {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.posts-content {
    margin-left: 40px;
    background: #fff;
    padding: 15px 15px 30px 15px;
}

.post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: solid 1px #eeeeee;
}

.post-discount{
    flex-wrap: wrap;
    display: block;
    border-bottom: none;
}

.post .c-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 310px;
    flex: 0 0 310px;
    margin-right: 15px;
}

.post-discount .c-img{
    -ms-flex: 0 0 260px;
    flex: 0 0 260px;
}

.post .c-img:before {
    content: '';
    display: block;
    padding-top: 61.11155%;
}

.post-discount .c-img:before{
    padding-top: 122%;
}

.post .title {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.post-discount .title{
    height: 50px;
    overflow: hidden;
    margin-bottom: 0;
}

.post-discount .title a{
    width: 100%;
}

.post .title a:hover {
    color: #e18037;
}

.post .info {
    font-family: "Arial";
    color: #a1a0a0;
    margin-bottom: 10px;
}

.post p {
    color: #424242;
    line-height: 20px;
}

.post-detail {
    padding: 5px;
}

.post-detail .title {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-detail .time {
    color: #959595;
    margin-bottom: 15px;
}

.post-related {
    margin-top: 40px;
    border-top: solid 1px #dfdfdf;
    padding-top: 15px;
    margin-bottom: 35px;
}

.post-related .title {
    font-size: 16px;
    color: #25242c;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-related ul li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}

.post-related ul li:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #c8402b;
    border-radius: 50%;
    left: 3px;
    margin-top: 9px;
    position: absolute;
}

.post-related ul li a:hover {
    color: #e18037;
}

.post-product {
    margin-top: 40px;
}

.post-product .i-title {
    font-weight: bold;
    font-size: 18px;
    border-bottom: solid 1px #dfdfdf;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.post-product .pro .title {
    font-size: 14px;
}

.post-product .pro .price {
    font-size: 20px;
}

.posts-content .title-news{
    font-size: 28px;
}

.social .hotline{
    font-size: 16px;
    color: inherit;
}

@media all and (max-width: 1199px) {
    .post .title {
        margin-bottom: 10px;
    }

    .post-discount .title{
        margin-bottom: 0;
    }

    .post .info {
        margin-bottom: 8px;
    }
}

@media all and (max-width: 991px) {
    .post-sidebar {
        margin-right: 0;
    }

    .posts-content {
        margin-left: 0px;
    }
}

@media all and (max-width: 767px) {
    .breadcrumbs {
        margin-bottom: 20px;
    }

    .page-bar .result {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .paginations li {
        margin-right: 2px;
    }

    .paginations li a, .paginations li span {
        width: 25px;
        height: 25px;
        font-size: 13px;
        line-height: 23px;
    }

    .post {
        margin-bottom: 15px;
        padding-bottom: 15px;
        flex-wrap: wrap;
    }

    .post .c-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 362px;
        flex: 0 0 362px;
    }

    .post .title {
        font-size: 15px;
        max-height: 50px;
        overflow: hidden;
    }

    .post .info {
        margin-bottom: 0px;
    }

    .page-bar{
        padding-bottom: 10px;
    }

    .posts-content .title-news{
        font-size: 23px;
    }
}

@media all and (max-width: 424px) {
    .post .c-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 312px;
        flex: 0 0 312px;
    }

    .social .hotline{
        font-size: 14px;
        color: inherit;
    }
}

@media all and (max-width: 374px) {
    .post .c-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
        flex: 0 0 260px;
    }
}

.cart-box {
    background: #fff;
    border: solid 1px #e9e9e9;
    margin-top: 30px;
}

.cart-box .i-title {
    border-bottom: solid 1px #e9e9e9;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 18px;
    padding: 12px;
    line-height: 24px;
}

.cart-box .i-title i {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 24px;
    margin-top: -3px;
}

.cart-box .cart-item {
    padding: 15px 14px 15px 12px;
    border-bottom: solid 1px #e9e9e9;
}

.cart-box .cart-item .cart-pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.cart-box .cart-item .cart-pro .c-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    height: 80px;
    margin-right: 10px;
}

.cart-box .cart-item .cart-pro .c-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.cart-box .cart-item .cart-pro .title {
    font-weight: bold;
    color: #3c3c3c;
    margin-bottom: 4px;
    line-height: 1.3;
    margin-top: -1px;
}

.cart-box .cart-item .cart-pro .title a:hover {
    color: #e18037;
}

.cart-box .cart-item .cart-pro p {
    font-size: 12px;
    color: #636363;
    margin-bottom: 3px;
}

.cart-box .cart-item .cart-pro p span {
    color: #538dc8;
}

.cart-box .cart-item .cart-pro .price {
    font-size: 17px;
    font-weight: bold;
    color: #d8341b;
}

.cart-box .cart-item .i-number {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.cart-box .cart-item .i-number input {
    width: 70px;
    height: 28px;
    border-radius: 3px;
    border: solid 1px #cfcece;
    background: #fbfbfb;
    padding-right: 20px;
    padding-left: 0;
    text-align: center;
}

.cart-box .cart-item .i-number .n-ctrl {
    position: absolute;
    width: 20px;
    right: 0;
    text-align: center;
    height: 12px;
    line-height: 12px;
}

.cart-box .cart-item .i-number .n-ctrl.up {
    top: 2px;
}

.cart-box .cart-item .i-number .n-ctrl.down {
    bottom: 2px;
}

.cart-box .cart-item .remove {
    color: #538dc8;
    font-size: 12px;
}

.cart-box .cart-item .remove i {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: solid 1px #cfcece;
    background: #fbfbfb;
    color: #d8341b;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: -1px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.cart-box .cart-item .remove:hover i {
    background: #d8341b;
    border-color: #d8341b;
    color: #fff;
}

.cart-total {
    text-align: right;
    padding: 15px;
}

.cart-total .ct {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 15px;
}

.cart-total .ct strong {
    color: #d8341b;
    font-size: 18px;
    font-weight: bold;
}

.cart-total .ct span {
    font-size: 13px;
    color: #636363;
}

.cart-total .shop-now {
    background: #1b9647;
    height: 40px;
    padding: 0 15px;
    color: #fff;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.cart-total .shop-now i {
    margin-right: 8px;
}

.cart-total .shop-now:hover {
    background: #d8341b;
}

.cart-total .pay-now {
    background: #e18037;
    height: 40px;
    padding: 0 35px;
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.cart-total .pay-now i {
    margin-left: 8px;
}

.cart-total .pay-now:hover {
    background: #d8341b;
}

.sb-cart {
    background: #fff;
    margin-top: 30px;
    border: solid 1px #e9e9e9;
}

.sb-cart .title {
    border-bottom: solid 1px #e9e9e9;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 18px;
    padding: 12px;
    line-height: 24px;
}

.sb-cart .total {
    padding: 12px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sb-cart .total label {
    font-weight: bold;
}

.sb-cart .total .price {
    text-align: right;
}

.sb-cart .total .price strong {
    color: #d8341b;
    font-size: 18px;
}

.sb-cart .total .price p {
    font-size: 12px;
    color: #636363;
    margin-top: 3px;
}

.sb-cart .ctrl {
    padding: 20px 12px;
    border-top: solid 1px #e9e9e9;
}

.sb-cart .ctrl a {
    display: block;
    background: #e18037;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    text-align: center;
}

.sb-cart .ctrl a:hover {
    background: #d8341b;
}

.cart-process {
    padding: 50px 0;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.cart-process .item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 36px;
}

.cart-process .item span {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
    background: #999999;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
    left: 0;
    top: 50%;
    margin-top: -11px;
}

.cart-process .item span:after {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border-radius: 3px;
    border: solid 1px #999;
    border-radius: 50%;
}

.cart-process .item.active span {
    background: #e18037;
}

.cart-process .item.active span:after {
    border-color: #e18037;
}

.cart-process .item.green span {
    background: #0c9548;
}

.cart-process .item.green span:after {
    border-color: #0c9548;
}

.cart-process .item.red {
    color: #bf2026;
}

.cart-process .item.red span {
    background: #bf2026;
}

.cart-process .item.red span:after {
    border-color: #bf2026;
}

.login-box {
    background: #fff;
    border: solid 1px #e9e9e9;
    margin-bottom: 20px;
}

.login-box .title {
    border-bottom: solid 1px #e9e9e9;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 18px;
    padding: 12px;
    line-height: 24px;
    background: #f5f4f4;
}

.login-box .ct {
    max-width: 380px;
    margin: auto;
    padding: 25px 20px 65px 20px;
}

.login-box .ct p {
    margin-bottom: 5px;
}

.login-box .ct .input {
    width: 100%;
    height: 38px;
    border-radius: 3px;
    border: solid 1px #cccccc;
    margin-bottom: 15px;
}

.login-box .ct label {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}

.login-box .ct label input {
    display: none;
}

.login-box .ct label input:checked + i:after {
    opacity: 1;
}

.login-box .ct label i {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 1px #333;
    margin-top: -2px;
    margin-right: 5px;
}

.login-box .ct label i:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin: 3px;
    background: #333;
    opacity: 0;
}

.login-box .ct a {
    color: #4682bf;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
}

.login-box .ct a:hover {
    color: #e18037;
}

.login-box .ct button {
    width: 100%;
    height: 49px;
    background: #e18037;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    line-height: 49px;
}

.login-box .ct button:hover {
    background: #d8341b;
}

.sb-order {
    background: #fff;
    border: solid 1px #e9e9e9;
    margin-bottom: 20px;
}

.sb-order .head {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #f5f4f4;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: solid 1px #e9e9e9;
}

.sb-order .head .i-title {
    font-weight: bold;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 24px;
}

.sb-order .head .i-title span {
    color: #777777;
}

.sb-order .head a {
    color: #4682bf;
    font-size: 12px;
}

.sb-order .head a:hover {
    color: #e18037;
}

.sb-order .ct {
    padding: 12px;
    background: #fff;
}

.sb-order .order-pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sb-order .order-pro .c-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    margin-right: 20px;
}

.sb-order .order-pro .c-img:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.sb-order .order-pro .title {
    color: #181818;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.sb-order .order-pro .price {
    margin-left: 15px;
    line-height: 2;
    text-align: right;
}

.sb-order table {
    border-top: solid 1px #e9e9e9;
    width: 100%;
    margin-top: 12px;
    padding-top: 10px;
}

.sb-order table td {
    padding-top: 10px;
}

.sb-order table td:last-child {
    text-align: right;
}

.sb-order table.total-tb {
    font-weight: bold;
}

.sb-order table.total-tb span {
    font-size: 17px;
    color: #d8341b;
}

.cart-payment {
    background: #fff;
    border: solid 1px #e9e9e9;
    margin-bottom: 20px;
    margin-bottom: 10px;
}

.cart-payment .title {
    border-bottom: solid 1px #e9e9e9;
    color: #3d3d3d;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px;
    line-height: 24px;
    background: #f5f4f4;
}

.cart-payment .pay-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px;
    border-bottom: solid 1px #e9e9e9;
    padding-bottom: 15px;
    cursor: pointer;
}

.cart-payment .pay-radio:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.cart-payment .pay-radio input {
    display: none;
}

.cart-payment .pay-radio input:checked + i:after {
    opacity: 1;
}

.cart-payment .pay-radio i {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23px;
    flex: 0 0 23px;
    height: 23px;
    margin-right: 20px;
    border-radius: 50%;
    border: solid 1px #8a8a8a;
}

.cart-payment .pay-radio i:after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: block;
    margin: 5px;
    background: #bf2026;
    opacity: 0;
}

.cart-payment .pay-radio .icon {
    height: 46px;
    line-height: 46px;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46px;
    flex: 0 0 46px;
    margin-right: 20px;
}

.cart-payment .pay-radio .icon img {
    max-height: 100%;
}

.cart-payment .pay-radio .c-title {
    font-size: 16px;
    margin-bottom: 2px;
    display: block;
}

.pay-check {
    position: relative;
    padding-left: 28px;
    color: #8e8d8d;
    cursor: pointer;
    font-size: 14px;
}

.pay-check input {
    display: none;
}

.pay-check input:checked + i {
    background: #e18037;
    border-color: #e18037;
}

.pay-check i {
    width: 18px;
    height: 18px;
    border: solid 1px #d1cfcf;
    border-radius: 3px;
    background: #fff;
    text-align: center;
    line-height: 16px;
    position: absolute;
    left: 0;
    margin-top: 2px;
    font-style: normal;
    padding-left: 1px;
}

.pay-check i:after {
    content: '\2714';
    color: #fff;
}

.pay-check a {
    color: #4682bf;
}

.pay-check a:hover {
    text-decoration: underline;
}

.pay-btn, .def-btn {
    display: inline-block;
    vertical-align: middle;
    background: #e18037;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    height: 39px;
    line-height: 39px;
    padding: 0 29px;
}

.pay-btn:hover, .def-btn:hover {
    background: #d8341b;
    color: #fff;
}

.cart-address {
    background: #fff;
    border: solid 1px #e9e9e9;
    margin-bottom: 20px;
    margin-bottom: 10px;
}

.cart-address .title {
    border-bottom: solid 1px #e9e9e9;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    line-height: 24px;
    background: #f5f4f4;
}

.cart-address .title .pay-check {
    display: inline-block;
    vertical-align: middle;
    margin: -4px 10px 0 0;
    padding: 0;
}

.cart-address .title .pay-check i {
    position: static;
    display: block;
}

.cart-address .ct {
    padding: 10px 40px 20px 40px;
}

.cart-address .ct .line {
    position: relative;
    padding-left: 160px;
    margin-bottom: 20px;
}

.cart-address .ct .line .label {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cart-address .ct .line .label p {
    font-size: 12px;
    color: #807f7f;
}

.cart-address .ct .line input {
    height: 38px;
    width: 100%;
    border-radius: 3px;
    border: solid 1px #cccccc;
}

.cart-address .ct .line .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cart-address .ct .line .input span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    margin-left: 10px;
}

.cart-address .ct .line textarea {
    height: 80px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: solid 1px #cccccc;
}

.cart-address .ct .pay-check {
    margin-bottom: 10px;
}

.success-box {
    padding: 15px 20px 20px 20px;
    background: #fff;
    margin-bottom: 20px;
    border: solid 1px #eaeaea;
}

.success-box .title {
    color: #0c9548;
    font-size: 16px;
    margin-bottom: 10px;
}

.success-box .s-title {
    text-transform: uppercase;
    border-bottom: solid 1px #eaeaea;
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.success-box .code {
    font-weight: bold;
    margin-bottom: 5px;
}

.success-box .code span {
    color: #c8402b;
}

.success-box .status {
    margin-bottom: 5px;
}

.success-box .status span {
    color: #c8402b;
}

.success-box-info {
    padding: 15px 20px 20px 20px;
    background: #fff;
    margin-bottom: 20px;
    border: solid 1px #eaeaea;
}

.success-box-info .i-title {
    color: #272727;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.success-box-info .cart-pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.success-box-info .cart-pro .c-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    height: 80px;
    margin-right: 10px;
}

.success-box-info .cart-pro .c-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.success-box-info .cart-pro .title {
    font-weight: bold;
    color: #3c3c3c;
    margin-bottom: 4px;
    line-height: 1.3;
    margin-top: -1px;
}

.success-box-info .cart-pro .title a:hover {
    color: #e18037;
}

.success-box-info .cart-pro p {
    font-size: 12px;
    color: #636363;
    margin-bottom: 3px;
}

.success-box-info .cart-pro p span {
    color: #538dc8;
}

.success-box-info .cart-pro .price {
    font-size: 17px;
    font-weight: bold;
    color: #d8341b;
}

.success-box-info .s-table {
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: auto;
}

.success-box-info table {
    min-width: 600px;
    width: 100%;
    text-align: center;
}

.success-box-info table th {
    background: #f1f0f0;
    line-height: 20px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.success-box-info table td {
    border-bottom: solid 1px #f1f0f0;
    padding: 15px 15px;
    vertical-align: middle;
}

.success-box-info table td:first-child {
    text-align: left;
    padding-left: 0;
}

.success-box-info table td[colspan="4"] span {
    color: #0c9548;
}

.success-box-info .total {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    line-height: 2.1;
    margin-top: 20px;
}

.success-box-info .total span {
    color: #d30706;
}

@media all and (max-width: 991px) {
    .cart-box {
        margin-top: 30px;
    }

    .cart-box .cart-item .cart-pro {
        margin-bottom: 12px;
    }

    .cart-box .cart-item .cart-pro .c-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
        height: 70px;
    }

    .sb-cart {
        margin-top: 30px;
    }

    .h-cart{
        /*display: none;*/
    }
    #li_desktop_cart{
        height: unset !important;
    }
}

@media all and (max-width: 767px) {
    .cart-box .i-title {
        font-size: 14px;
    }

    .cart-box .cart-item .remove span {
        display: none;
    }

    .cart-process {
        padding: 30px 0;
    }

    .cart-process .item {
        padding-left: 0;
        font-size: 13px;
    }

    .cart-process .item span {
        position: relative;
        display: block;
        margin: 0 auto 10px auto;
    }

    .pay-btn {
        margin-top: 10px;
    }

    .cart-payment .pay-radio {
        margin: 10px;
        padding-bottom: 10px;
    }

    .cart-payment .pay-radio i {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16px;
        flex: 0 0 16px;
        height: 16px;
        margin-right: 10px;
    }

    .cart-payment .pay-radio i:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        margin: 3px;
    }

    .cart-payment .pay-radio .icon {
        height: 35px;
        line-height: 35px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
        flex: 0 0 35px;
        margin-right: 15px;
    }

    .cart-payment .pay-radio .c-title {
        font-size: 15px;
    }

    .cart-address .title {
        font-size: 16px;
    }

    .cart-address .ct {
        padding: 10px 15px;
    }

    .cart-address .ct .line {
        padding-left: 0;
    }

    .cart-address .ct .line .label {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin-bottom: 3px;
    }

    .cart-address .ct .line .label p {
        display: inline-block;
        margin-left: 10px;
    }

    .cart-address .ct .line .input {
        display: block;
    }

    .cart-address .ct .line .input span {
        display: block;
        font-size: 13px;
        margin-left: 0;
        margin-top: 3px;
    }
}

@media all and (max-width: 575px) {
    .cart-total {
        text-align: center;
        margin-left: -5px;
        margin-right: -5px;
    }

    .cart-total .shop-now {
        padding: 0 12px;
    }

    .cart-total .shop-now i {
        display: none;
    }

    .cart-total .pay-now {
        padding: 0 12px;
    }

    .cart-total .pay-now i {
        display: none;
    }
}

.hc-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.hc-comments {
    margin: 20px auto;
}

.hc-comments textarea {
    width: 100%;
    resize: none;
    height: 100px;
    display: block;
    border: 1px solid #c1bfbf;
    /*margin-bottom: 10px;*/
}

.hc-button{
    border: 1px solid #c1bfbf;
    padding: 5px;
}

.hc-comments button {
    height: 38px;
    padding: 0 25px;
    border-radius: 3px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    background: #e18037;
    color: #512625;
}

.hc-comment {
    margin-bottom: 30px;
}

.comment {
    position: relative;
    padding-left: 32px;
    margin-bottom: 15px;
}

.comment .icon {
    width: 25px;
    height: 25px;
    background: #ccc;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
}

.comment .name {
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 20px;
}

.comment .content {
    margin-bottom: 5px;
}

.comment .content img {
    vertical-align: baseline;
}

.comment .ctrl {
    font-size: 12px;
    color: #666;
}

.comment .ctrl a {
    color: #4a90e2;
}

.comment .ctrl a:hover {
    text-decoration: underline;
}

.comment .ctrl span:not(:last-child):after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #babbb8;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 7px;
}

.tab-item {
    display: none;
}

.tab-item.active {
    display: block;
}

.replys {
    background: #f1f1f1;
    border: 1px solid #e7e7e7;
    padding: 10px 10px 0px 10px;
    margin-top: 15px;
    position: relative;
}

.replys:before, .replys:after {
    content: '';
    bottom: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    left: 15px;
}

.replys:before {
    border-bottom-color: #e7e7e7;
    border-width: 12px;
    margin-left: -12px;
}

.replys:after {
    border-bottom-color: #f1f1f1;
    border-width: 11px;
    margin-left: -11px;
}

.replys .hc-form {
    background: #fff;
    margin-bottom: 15px;
}

.replys:empty {
    display: none;
}

.btn-continue{
    background: rgb(27, 150, 71) !important;
    border-color: rgb(27, 150, 71);
}

.btn-order-success{
    background-color: #1b9647;
    border-color: #1b9647;
}

.btn-order-success:hover{
    background-color: #1b9647;
    border-color: #1b9647;
}

.btn-back-to-cart:hover{
    background-color: #e18037;
    color: white;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.show-image-comment{
    z-index: 1;
}

.show-image-comment span{
    position: absolute;
    background: #e18037;
    padding: 3px 5px;
    border-radius: 50%;
    right: -3px;
    top: -8px;
}
.show-image-comment span i{
    font-size: 18px;
    color: white;
}

.comments-list{
    display: grid;
}

.mfw-side-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mfw-side-left ul li {
    /* margin-bottom: 10px; */
    border-top: 1px solid #eae9e9;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


/*-------------------------------------------------- QUICK CART ---------------------------------------------------*/
.mfw-add-to-cart {
    cursor: pointer;
    background-color: #fdd344db;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    padding: 10px 0;
    color: #000;
    font-weight: 400;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mfw-product-item:hover .mfw-add-to-cart {
    bottom: 0;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mfw-add-to-cart i {
    padding-right: 10px;
}

.mfw-cart .btn {
    font-family: 'Lodge Head';
    font-weight: 300;
}

.mfw-cart i.icon-left {
    left: -10px;
    font-weight: bold;
}

.mfw-cart i.icon-right {
    font-weight: bold;
    right: -10px;
}

.cart-item .cart-image {
    float: left;
    margin-right: 12px;
    border: 1px solid #f2f2f2;
    text-align: center;
}

.cart-item .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
}

.cart-item .cart-info {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
}

#desktop-cart .cart-item {
    padding-left: 0;
}

#desktop-cart .cart-item:active{
    background-color: unset;
    color: #000000;
}

.cart-item .product-price {
    color: var(--price-color);
}

.cart-item .remove-from-cart {
    position: absolute;
    right: 0;
}

.cart-item .cart-img {
    width: 70px !important;
    height: auto;
}

.cart-info .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-info .product-quantity {
    overflow: hidden;
}

.cart-image a {
    padding: 0 !important;
}

#desktop-cart {
    width: 300px;
    max-height: 500px;
    overflow-y: auto;
}

#navbarSupportedContent .dropdown #desktop-cart .dropdown-item:hover {
    background-color: transparent;
    box-shadow: none;
}

.cart-item-total {
    border-top: 1px dotted #f0f0f0;
    padding-top: 10px;
}

.cart-item-btn .mfw-btn {
    width: 50%;
    border-radius: 0;
    font-size: 1rem;
    padding: 7px;
    border: none;
    display: inline-block;
    text-align: center;
}

.cart-item-btn a.mfw-btn-order {
    color: #ffffff !important;
    background-color: #fdd344;
}

.mfw-price {
    color: var(--price-color);
    font-weight: 500;
}

.cart-item .remove-from-cart i{
    position: absolute;
    left: -20px;
    margin-top: 0;
}

/*-------------------------------------------------- END QUICK CART ---------------------------------------------*/
