#ct_vertical_menu_top {
	float: left;
	position: relative;
	/*width: 285px;*/
	width: 21.67%;
	z-index: 8;
}
.block-title {
}
#ct_vertical_menu_top .menu-title{
	display: block;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
	padding: 0 22px;
	line-height: 50px;
	color: #fff;
	text-align: left;
	font-weight: 500;
	position: relative;
	background:#ffae03;
}
#ct_vertical_menu_top .block-title .material-icons {
	line-height: 18px;
	cursor: pointer;
	float: right;
	font-size: 17px;
	letter-spacing: 0;
	background: #23648c;
	border-radius: 50%;
	display: none;
}
#ct_vertical_menu_top #_desktop_top_menu {
	padding: 13px 0;
	position: absolute;
	width: 100%;
	background: #fff;
	display: none;
	border:1px solid #e5e5e5;
}
#index #header #ct_vertical_menu_top #_desktop_top_menu {
    display: block;
}
.vertical-menu .top-menu a[data-depth="0"] {
    padding: 8px 20px;
    
}
.vertical-menu .top-menu[data-depth="1"] {
    margin: 0.625rem;
}
.vertical-menu .top-menu a:not([data-depth="0"]) {
    display: block;
    padding: 0.625rem;
    color: #acaaa6;
    font-weight: 400;
}
.vertical-menu .top-menu a.dropdown-submenu {
    color: #004880;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
}
.vertical-menu .top-menu a {
    color: #979797;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
}
.vertical-menu .sub-menu .pull-xs-left.hidden-sm-down {
    display: none;
}
.vertical-menu .top-menu a[data-depth="1"] {
    padding: 0 0 5px 0;
	color: #ffae03;
	text-transform: capitalize ;
	font-weight: normal ;
}
.vertical-menu .top-menu a[data-depth="2"]{
	color: #000 !important; 
	padding: 5px 0;

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
}
.vertical-menu .top-menu a[data-depth="2"]:hover{
	color: #ffae03 !important;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
}
.vertical-menu .top-menu .collapse {
    display: inherit;
}
.vertical-menu .top-menu .sub-menu{
    display: none;
    left: 100%;
    right: auto;
    top: 0 !important;
    z-index: 10000;
    background: #fff;
    padding: 15px 20px;
    box-shadow: none;
    border: 1px solid #ffae03;
	border-radius:0;
}
.vertical-menu .top-menu .sub-menu.twocolumn {
    width: 410px;
}
.vertical-menu .top-menu .sub-menu.threecolumn {
    width: 585px;
}
.vertical-menu .top-menu .sub-menu.collapse {
    display: none;
	width: 540px;
}
.vertical-menu .top-menu .popover {
    max-width: inherit;
}
.vertical-menu  .top-menu a.dropdown-submenu {
    color: #414141;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
}
.vertical-menu .top-menu .sub-menu a {
    color: #000;
}
.vertical-menu .top-menu a[data-depth="0"]{
	text-transform: capitalize;
    font-size: 12px;
	line-height: 28px;
}
.vertical-menu .top-menu a[data-depth="0"]:hover,
.vertical-menu .top-menu .sub-menu a:hover{
	color: #ffae03;
    text-decoration: none;
}
.vertical-menu .top-menu .menu-images-container img{ max-width: 100%;}
#ct_vertical_menu_top #_desktop_top_menu #top-menu { }
#ct_vertical_menu_top #_desktop_top_menu #top-menu .top-menu {
    float: left;
    width: 100%;
    z-index: 5004;
    position: relative;
    background: #fff;
}
#ct_vertical_menu_top #_desktop_top_menu #top-menu li .left {
}
#ct_vertical_menu_top .menu-images-container {
    float: left;
    margin-top: 5px;
}
#ct_vertical_menu_top .menu > ul > li {
    width: 100%;
    display: block;
	margin:0 auto;
	position:relative;
}
#ct_vertical_menu_top .top-menu a[data-depth="0"] {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.05em;
    position: relative;
    padding: 0 22px;
    text-align: left;
    text-transform: capitalize;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}
#ct_vertical_menu_top .top-menu a[data-depth="0"] .pull-xs-left.hidden-sm-down i {
    font-size: 12px;
    color: #000;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;

}
#ct_vertical_menu_top .top-menu a[data-depth="0"]:hover .pull-xs-left.hidden-sm-down i {
color: #ffae03;
}
#ct_vertical_menu_top #more_menu .moremenu{text-decoration:underline;padding:0 43px;}
#ct_vertical_menu_top #more_menu .moremenu:hover{padding-left:48px;}
.vertical-menu .category.more_menu .sub-menu.collapse {
    bottom: 0;
    top: auto !important;
    padding: 0;
}

@media (max-width: 1229px) {
#index #ct_vertical_menu_top{width:21.67%;padding:0;}
#ct_vertical_menu_top{width:26%;padding-left:0;padding-right:15px;}
#ct_vertical_menu_top .menu-title{font-size: 12px;}
#ct_vertical_menu_top #more_menu .moremenu:hover { padding-left: 40px;}
#ct_vertical_menu_top #more_menu .moremenu{padding: 0 35px;}
#ct_vertical_menu_top .top-menu a[data-depth="0"]{font-size: 12px;line-height: 33px;}
#ct_vertical_menu_top #_desktop_top_menu {padding: 13px 0;}
}
@media (max-width: 991px) {
#ct_vertical_menu_top,#index #header #ct_vertical_menu_top #_desktop_top_menu {
    display: none;
}
#ct_vertical_menu_top #_desktop_top_menu{background:none;}
}