/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
	
	position: relative;
	zoom: 1;
	width: 870px;
	width:75.75% !important; 
	overflow: hidden;
	float:right;
	margin-top:30px;
}
.flexslider .caption-description{
	position: absolute;
    bottom: 100px;
    left: 100px;
    color: #FFFFFF;
	max-width: 600px;
    font-size: 18px;
    line-height: 28px;
}
.flexslider .caption-description h2{ font-size: 30px; margin-bottom:25px; letter-spacing: 9px;}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    margin: -35px 0 0;
    position: absolute;
    top: 55%;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    font-size: 0px;
    line-height: 1;
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
	border:2px solid #000;
}
.flex-direction-nav a:before {
}
.flex-direction-nav a.flex-next::before {
    content: '\E5CC';

}
.flexslider .flex-direction-nav a.flex-next:hover:before {
	left:18px;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease;
	-webkit-transition-delay: 0s;
	-moz-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
}
.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-next {
    right: 30px;
}
.flex-direction-nav .flex-prev {
    left: -50px;
}
.flex-direction-nav a::before {
	font-family: "Material Icons";
	font-size: 30px;
	display: inline-block;
	content: '\E5CB';
	color: #000;
	letter-spacing: 0.06em;
	line-height: 35px;
	padding: 0;
}
.flexslider .flex-direction-nav a:hover::before {
    color: #fff;
;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 30px;
}
.flexslider .flex-direction-nav a:hover{
	background:#ffae03;

}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
	z-index: -1;
}
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
  font-family: "Material Icons";
  font-size: 20px;
  display: inline-block;
  content: '\E039';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\E036';
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	margin: 0;
	display: none;
	bottom: 5px;
	text-align: center;
	z-index: 9;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
    width: 40px;
    border: 2px solid #ffae03;
    height: 8px;
    display: block;
    background: transparent;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #ffae03;
	border-color: #ffae03;
}
.flex-control-paging li a.flex-active {
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media (min-width: 992px) {
	.flexslider{
		width:72%;
		}
}
@media (max-width:991px) {.flexslider {width:100% !important;}}
@media (min-width: 768px) {
	.flexslider{
		width:72%;
		}
}
@media (max-width: 767px) {
.flexslider{width:100% !important;float:none;margin:15px auto 0;text-align:center;padding:0 15px;}
}
@media (min-width: 480px) {
	.flexslider:hover .flex-control-nav {
		display: block;
	}
	.flexslider{
		width:100%;
		}
}
@media (max-width: 480px) {
.flex-direction-nav a::before {
    padding: 2px 3px;line-height: 22px;font-size: 20px;
}
.flex-direction-nav a{height: 30px;width: 30px;top:58%;}
}
@media (max-width: 479px) {
.flex-direction-nav a{top:62%;}
	.flexslider{width:100% !mportant;}

}
