/* category */
/* blog listing */
.blog-meta {
  line-height: 22px;
  display: inline-block;
}
.lastest_block {
	margin: 40px auto 20px;
	text-align: center;
	float: left;
	width:100%;
	clear: both;
}
.lastest_block .products-section-title {
    margin-bottom: 15px;
}
.owl-item .blog-post.item:hover .blog-item .blog-image img {
    display: inline-block;
    transform: scale(1.2,1.2);
    transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}
.blog-item img {
    transform: scale(1,1);
    transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    display: inline-block;
}
.blog-meta > span {
  margin-right: 8px;
  position: relative;
}
.blog-meta > span:last-child:before {
  display: none;
}
.homeblog-inner .blog-created {}
.lastest_block .blog-hit{
	float: right;
	font-size: 12px;
	letter-spacing: 0.07em;
	line-height: normal;
	text-align: left;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
}
.homeblog-inner .blog-meta > span {
  margin-right: 0;
 }

.secondary-blog .blog-item {
    float: left;
}

.blog-item .blog-content-wrap .title {}
.lastest_block img {
    position: relative;
	transition: all 0.9s ease 0s;
      -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}
.lastest_block .blog-post:hover img {
}
.lastest_block .blog-post:hover{
}
.homeblog-inner{
	position: relative;
	float: left;
	width: 100%;
	margin: 0 auto;
}
.lastest_block .homeblog-inner li.blog-post {
 	padding: 0 15px;
	transition: all 0.9s ease 0s;
      -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}
.blog-post:hover .blog-item .readmore .btn {
    color: #ffae03;
	border-bottom: 1px solid #ffae03 !important;
	background: no-repeat;
	border: none;
	border-radius: 0;
}
.lastest_block .homeblog-inner li.blog-post:hover .blog-item .blog-content-wrap .title a {
    color: #ffae03 ;
}
.blog-post .blog-item .readmore .btn{border-bottom: 1px solid transparent;}
.blog-post .blog-item .readmore .btn:hover {
   border-bottom-color: #122f3f !important;
	color: #122f3f;
}
.blog-meta .icon {
font-size: 14px;
display: inline-block;
vertical-align: top;
}
.tmblog-latest .homeblog-inner .blog-item .blog-meta {
	color: #272727  !important;
	padding: 14px 0 9px;
	margin: 0 auto;
	 z-index:1;
	 transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}
.lastest_block .homeblog-inner li.blog-post:hover .blog-item .blog-meta {
    transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.homeblog-inner li .blog-item { margin-bottom: 0px; padding:0;}
.blog-item {
  position: relative;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 13px;
  /*
  border: 5px solid #dde6e6;
  border-radius: 10px;
  */
}
.leading-blog .blog-item .blog-content-wrap {
  padding: 0 15px;
}


.blog-image .more a{
	color: #fff;
}
 .blog-image .more:hover{
	color: #fff;
	background:#0088CC;
	border-color: #0088CC;
}

.blog-image .more {
    background: #000;
	transform: rotate(40deg);
    border: 1px solid #000;
    bottom: 10px;
    color: #ffffff;
    height: 38px;
    line-height: 34px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    width: 38px;
    z-index: 99;
	left: 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
#module-psblog-category .blog-item .blog-content-wrap .title{text-align:left;}
.blog-item .blog-content-wrap .title a{
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.08em;
	line-height: 18px;
	text-transform: uppercase;
}

.blog-post:hover .blog-content-wrap .title a{color:#ffae03 ;}
.blog-hit {
    float: left;
}

.blog-meta-block {
  text-align: center;
	margin-top: 0;
	padding: 15px 15px 0;
}

.tmblog-latest .blog-item .blog-meta,
.secondary-blog .blog-item .blog-meta{
	text-transform: uppercase;
   margin: 0 0 0 30px;
   padding: 10px 0 0;
    position: relative;
    width: 100%;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.blog-item .readmore{
	display:none;margin-top: 5px;
}
.blog-item .readmore .btn{
	padding:0;
	color: #ffae03;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
}
.lastest_block .blog-item .blog-image::before {
/*    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;*/
}

/*-----icon zoom------*/

.blog-image .post_hover {
    bottom: auto;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 38%;
	width:95px;
}
.blog-image .zoom {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;
    background: #ffae03;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
	position:absolute;
	left:30px;
    vertical-align: top;
}
.blog-image .readmore_link {
    border: 2px solid #fff;
    background: #000;
    color: #fff;
    display: inline-block;

    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;

	position:absolute;
	right:30px;
}
.lastest_block .blog-post:hover .blog-image .readmore_link{right:0;}
.lastest_block .blog-post:hover .blog-image .zoom{left:0;}

.post_hover .fa {
    width: 45px;
    height: 45px;
    line-height: 42px;
}
 .blog-image .readmore_link:hover{
   background-color:#ffae03;
 }
.blog-image .zoom:hover {
    background-color: #000;
}
.lastest_block li.blog-post:hover .blog-image .post_hover {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -kkhtml-opacity: 1;

}
.lastest_block li.blog-post:hover .blog-item .blog-image::before {
/*    opacity: 1;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;*/
}
/*-------------------*/
.blog-item .blog-content-wrap .readmore p {
  margin-bottom: 0;
  margin-top: 10px;
}
.lastest_block .blog-content-wrap {
	text-align: center;
}
.blog-item .blog-content-wrap .readmore p .btn {
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
  font-size: 10px;
}
.secondary-blog .blog-item .blog-meta {
    margin: 0 0 10px;display: inline-block;text-transform: capitalize;
}

.blog-item .blog-content-wrap .readmore p .btn:hover {
  border-color: #2fb5d2;
}

.blog-item .blog-content-wrap .blog-shortinfo {
font-size: 12px;
line-height: 21px;
letter-spacing: 0.08em;
font-weight: 400;
color: #000;

}
.lastest_block .blog-author {
    float: left;
	margin-right: 5px;
}
.lastest_block .blog-author a:hover{color: #ffae03;}
.lastest_block .blog-author a, .lastest_block .blog-author {
    color: #454545;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
}
.lastest_block .blog-author i {
    font-size: 20px;
    line-height: 18px;
}
.lastest_block .blog-hit i {
	margin: 0 3px;
}
.lastest_block .blog-hit span {
    margin-left: 5px;
}
.blog-item .blog-content-wrap .blog-shortinfo .more {
  height: 0;
  padding: 0;
  border:none;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i {
  color: #888;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i:hover {
  color: #222;
}
.lastest_block .blog-item .blog-image{float:none;}
.blog-item .blog-image {
 	overflow: hidden;
	position: relative;
	z-index: 9;
  
}
#blog-carousel,#blog-carousel-hot {
    margin: 0;
}
#index .lastest_block .products{margin: 0 -15px;float:none;width:auto;}
#blog-localengine {
background: #f2f2f2;
padding: 20px;
border: 1px solid #ededed;
}

.blog-detail > div {
  margin: 5px 0;
}
.blog-detail .blog-image {
  padding-bottom: 30px;
  margin-bottom: 0;
}
.blog-detail .blog-title {
 	color: #000;
	font-weight: 600;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.02em;
}
.Recnet-blog .leading-blog, .Recnet-blog .secondary-blog {
    margin: 0 -15px;}
.blog-detail .blog-description {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 70px;
}
.blog-detail .social-share {
  display: inline-block;
  float: left;
}
.social-share .itemTwitterButton,
.social-share .itemFacebookButton,
.social-share .itemGooglePlusOneButton{
	margin-bottm: 10px;
}
.blog-detail .extra-blogs {
  display: inline-block;
  width: 100%;
}
.blog-detail .extra-blogs h4{
	margin-bottom:15px;
	font-weight: 600;
	color: #000;
}
.blog-detail .extra-blogs ul{
	padding-left: 25px;
}
.blog-detail .extra-blogs ul li{
	list-style: disc;
	padding: 3px 0;
}
.blog-detail .blog-tags {
  display: inline-block;
  float: right;
}
.blog-detail .blog-tags > span {
  font-weight: bold;
  font-size: 14px;
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {
  margin-left: 80px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta {
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span {
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span span {
  color: #888;
  margin-left: 10px;
  font-weight: normal;
}
.blog-detail .blog-comment-block #blog-localengine .form-group {
  margin-bottom: 20px;
}
.blog-detail .blog-comment-block .btn-send {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  min-width: 110px;
  text-align: center;
  color: #fff;
  background-color: #eee;
  font-weight: 600;
  float: right;
  border-radius: 3px;
}
.blog-detail .blog-comment-block .btn-send i {
  margin-right: 10px;
  font-weight: 800;
}
.blog-detail .blog-comment-block .btn-send:hover {
  background-color: #222;
}

.blog-comment-block h3{
	margin-bottom:15px;
	font-weight: 600;
	color: #000;
	letter-spacing:0.02em;
}
.blog-comment-block #comment-form{ margin-top: 30px; }
.comment-capcha-image{ margin-bottom: 10px; }
h1.blog-heading{
	font-size: 22px;
    color: #414141;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.ps-carousel { display: none; }
.Recent-title,
#blog-category{ margin-bottom: 30px; }
.subcategories-title{ margin-bottom: 20px; }
.category-title{ padding: 15px 0 5px; text-transform: capitalize; font-weight: 400;font-size: }

.secondary-blog .flexRow{ 
	clear: both;
    float: left;
}
#blog-listing .pagination li{ 
	background: #FFFFFF;
    display: inline-block;
    float: left;
    margin: 0 0 0 4px;
    padding: 0px;
}

#blog-listing .pagination li.previous > span,
#blog-listing .pagination li.next > span{ width: auto; }

#blog-listing .pagination .previous,
#blog-listing .pagination .next {
	font-size: 14px;
	width: auto;
}
#blog-listing #pagination{
	float: right;
	width: auto;
	margin: 0px;
}
#blog-listing .pagination li a,
#blog-listing .pagination li > span{
	height: 35px;
    margin: 0;
    padding: 2px 12px;
	line-height: 28px;
    width: 35px;
    color: #414141;
    background: none;
    border: none;
    display: block;
    font-weight: 600;
    border: 1px solid #ddd;
}
#blog-listing .pagination li.active > span,
#blog-listing .pagination li.current > span,
#blog-listing .pagination li a:hover{
	color: #FFFFFF;
    border-color: #0088cc ;
    background-color: #0088cc ;
}
.leading-blog .blog-meta > span span {
    display: inline-block;
}
#blog-listing .product-count{
    float: left;
    margin-top: 20px;
}

.tmblog-latest .homeblog-inner .blog-item .blog-meta, .tmblog-latest .homeblog-inner .secondary-blog .blog-item .blog-meta {
color: #272727;
font-size: 14px;
letter-spacing: 0.1em;
line-height: 25px;
text-align: center;
font-weight: 300;
}

#module-psblog-blog > iframe {
    left: 0 !important;
}
@media (max-width: 1199px) {
.secondary-blog .flexRow {
    clear: unset;
    float: none;
}
.Recnet-blog .secondary-blog .flexRow .col-lg-4 {
    width: 50%;
}
}
@media (max-width: 991px) {
.Recnet-blog .secondary-blog .flexRow .col-lg-4 {
    width: 100%;
}
}
@media (max-width: 767px) {
#index .lastest_block .products {
    width: 100%;
    margin: 0 auto;
    float: left;
}
.lastest_block{width:100%;clear:both;}
.blog-image .post_hover {top:44%;}
}
@media (max-width: 543px) {
.blog-detail .blog-description {margin-bottom:50px;}
	.leading-blog .blog-item .blog-content-wrap {
		padding: 15px;
	}
}
@media (max-width: 545px) {
	
	.blog-comment-block h3{font-size:17px;}
}
@media (max-width: 479px) {
.lastest_block {
    margin-bottom: 30px;
    margin-top: 50px;
}
}