w/********************************************************
	RTL Right - to - Left Styles
********************************************************/

body,
#search_filters .js-search-filters-clear-all,
body#checkout section.checkout-step #customer-form .form-control-label, body#checkout section.checkout-step #delivery-address .form-control-label, body#checkout section.checkout-step #invoice-address .form-control-label, body#checkout section.checkout-step #login-form .form-control-label {
    text-align: right;
}

.label,
.products .all-product-link {
    text-align: left;
}

@media (min-width: 544px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {float: right;}

	
}
@media (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {float: right;}
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float: right;}
}
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-1=6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {float: right;}
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,.col-xl-8,.col-xl-4
.contact-rich .icon,
.products-selection .display li {
    float: right;
}

.pagination .page-list {
    float: left;
}

/******* Header ********/
#header .header-nav .left-nav,
.left-nav > div,.offer-description,.subbaner-left, .subbaner-right,.offer-banner .title,#ctcmsblock,#header .header-top .main-logo,.contact-rich .icon{
    float: right;
}
#header .header-top .top-menu li:last-child .sub-menu {left: auto;right: auto;}
#header .blockcart,
#header .header-nav .right-nav,
.search-widget,#desktop_user_info,.offer-code,#header .header-top .menu {float: left;}

#header .blockcart .cart-products-count{left:-5px;right:auto;}
#header .search-widget::before{left:0;right:auto;}
#header .searchtoggle{left:50px;right:auto;}
.search-widget form input[type=text] {padding-left: 50px;padding-right: 9px;}
#ctsubbannercmsblock .Sbanner1_img img {transform: scaleX(-1);}
.user-info {padding: 0 15px 0 0;}
/*subbaneer css add */

.page-header .sitemap-title{margin-right:60px;}
/*.products .product-price-and-shipping, .product-price{float:left;}*/

#js-product-list .product_list.gridcount.list.row .product-description, .products .product_list.gridcount.list.row .product-description, .product-accessories .product-description{border-top:none;}
.product-actions .material-icons, .products .product_list.gridcount.row.list .product-description .add-to-cart .material-icons{float:right;margin-left:0px;}
.product-actions .material-icons, .products .product_list.gridcount.row.list .product-description .quick-view .material-icons{float:right;margin-left:0px;}
.blog-meta > span {
    margin-right: 0;margin-left:6px;
}
.block-social{float:left;}
#js-product-list .product_list.gridcount.row.list .product-hover{text-align:right;}
#products .products .list li.product_item .center-block{text-align:right;}

.block-social li:first-child {
    margin-left: 6px;margin-right:0;
}
.block-social li:last-child {
    margin-right: 6px;margin-left:0;
}
#_desktop_language_selector::after {
 
   display:none;
}

#left-column .products .product-item .right-part .product-description, #right-column .products .product-item .right-part .product-description{
text-align:right;
}
.product-actions .material-icons, .products .product_list .quick-view .material-icons{
float:right;
}


.products-selection .sort-by{
margin-left: -0.9375rem;
margin-right: 0.9375rem;

}
.dropdown-item{
text-align:right;
}
.dropdown-menu{
text-align:right;
}

li.product-flag.on-sale {
left:2px;
right: auto;

}
#ctsubbannercmsblock .banner_lef {float:right;}
#ctsubbannercmsblock .banner_right {float:left;}
.tabs .tab-pane{text-align:right;}
#header .cart_block,#desktop_user_info .user-info{left:0;right:auto;}
#header .search-widget form input[type="text"] {padding-right: 10px;padding-left: 55px;}
.currency-selector .dropdown-menu.hidden-md-down.currencies_ul li{margin-left:10px;margin-right:0;}


.user-info > a::before{content:none;}
#header .header-nav .currency-selector,
#header .header-nav .language-selector{padding: 13px 22px 13px 37px;border-right: none;}
#header .header-nav .language-selector .dropdown-icons::after,
#header .header-nav .currency-selector .dropdown-icons::after{
    right: auto;
    left: 22px;
}
#_desktop_language_selector::before, #_desktop_currency_selector::before{left: 0;right: auto;}
#_desktop_language_selector, #_desktop_currency_selector {float: right;padding: 0 0 0 15px;}
#header .currency-selector { margin: 0 15px 0 0;}
#products .page-not-found .search-widget form button[type="submit"], #pagenotfound .page-not-found .search-widget form button[type="submit"] {left:0;right:auto;}
#products .page-not-found .search-widget input, #pagenotfound .page-not-found .search-widget input{padding-right:9px;padding-left:45px;}
/*---review commnet------*/
#product_comments_block_tab div.comment div.comment_author span, #product_comments_block_tab div.comment .star_content,#new_comment_form .product .product_desc ,.new_comment_form_content .star_content,#new_comment_form .product .product_desc,.fl{
    float: right;
}
#product_comments_block_tab .comment_author_infos {
    float: left;
    text-align: left !important;
}
.fr{float:left;}
#new_comment_form{text-align:right  !important;}
#new_comment_form #criterions_list label {margin:0 0 0 15px;}
#new_comment_form #criterions_list label,#product_comments_block_tab div.comment div.comment_details{float:right;text-align:right;}
#product_comments_block_tab button.usefulness_btn {margin: 0 5px 0 0;}


/*---end review commnet------*/
/*.tmblog-latest .blog-item .blog-meta, .secondary-blog .blog-item .blog-meta{right:auto;left:35px;}*/
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit{float:left;}
#cttestimonialblock .owl-item::before{right:auto;left:25px;}
.cart_block .cart-item .cart-image {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}
.cart_block .cart-item .cart-info .remove-from-cart {
    left: 0px;
    right: auto;
}
.cart_block .cart-item .cart-info {
    text-align: right;
    padding-right: 0px;
}
.cart_block .cart-item .cart-info .product-quantity {
    padding-left: 5px;
    padding-right: 0px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] li a {
    padding-left: 0px;
	padding-right: 20px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="3"] li a {
    padding-left: 0px;
	padding-right: 30px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="4"] li a {
    padding-left: 0px;
	padding-right: 40px;
}

#header .header-top .menu > ul > li:last-child a{
    border-left: medium none;
}
/******* Product ********/

.products .product-miniature .product-flags .on-sale,
#products .list .product-miniature .product-flags .on-sale {
	right: auto;
	left: 2px;
	border-radius: 0 0 10px 0;
} 

.products .product-miniature .product-flags .new {
	left: auto;
	right:2px;
	border-radius: 0 0 0 10px;
}

.products .product_list {
    padding: 0px;
}
.products .product_list li.product_item,
.product-actions .material-icons{
    float: right;
}

.product-quantity .qty,
.product-quantity .input-group-btn-vertical,
.product-quantity .input-group .form-control {
    float: right;
}
.product-quantity .add {
    float: right;
    margin-right: 0px;
}

/*product tab css*/
.special-products .customNavigation a.prev, 
.product-accessories .customNavigation a.prev, 
.featured-products .customNavigation a.prev, 
.newproducts .customNavigation a.prev, 
.bestseller-products .customNavigation a.prev, 
.viewed-products .customNavigation a.prev, 
.crosssell-products .customNavigation a.prev, 
.productscategory-products .customNavigation a.prev{
    right:auto;
    left: 0px;
}
.special-products .customNavigation a.next, 
.product-accessories .customNavigation a.next, 
.featured-products .customNavigation a.next, 
.newproducts .customNavigation a.next, 
.bestseller-products .customNavigation a.next, 
.viewed-products .customNavigation a.next, 
.crosssell-products .customNavigation a.next, 
.productscategory-products .customNavigation a.next{
    right:0px;
    left: auto;
}


.brands .customNavigation {left: 0 !important;right: auto !important;}


/*subbanner cms*/
#ctsubbannercmsblock .subbanner_content {text-align: right;float: right;}
#ctsubbannercmsblock .subbanner_img {float: left;transform: scaleX(-1);}
#ctsubbannercmsblock .subbanner_title {text-align: right;}

/*about cms*/
#ctaboutcmsblock .about_content {padding: 65px 30px 0 0;float: right;}
#ctaboutcmsblock .about_img {transform: scaleX(-1);float: right;}
#ctaboutcmsblock .about_title::before {left:auto;right: -28px;}

/*Testimonial cms*/




/*Ps Blog*/


.secondary-blog .blog-item .blog-image{margin-left:10px;margin-right:0;}
.leading-blog .blog-item .blog-content-wrap {float: right;}
.leading-blog .blog-item .blog-content-wrap .title a {text-align: right;}

/*Service cms*/



/*custom cms*/
#block-reassurance li{border-right:2px solid #ffae03;border-left:none;}
.product_right .product-actions .add .add-to-cart, 
.modal-content .product-actions .add-to-cart {padding: 3px 7px 0 15px;}
.custom-checkbox label{text-align:right;}

.quickview .mask .customNavigation {left: 0;}
#main .images-container .js-qv-mask .customNavigation {left: 0;}

/******* General ********/

ul,
ol {
    padding-right: 0;
}
#right-column {
margin-left:0;
margin-right:30px;
clear:none;
}
#left-column {
margin-left:30px;
margin-right:0;
clear:none;
}
#js-product-list .list .comments_note div.star, #js-product-list .list #productCommentsBlock div.star, #js-product-list .list #new_comment_form div.star {
    float: right;
}
#left-column .left-part, #right-column .left-part {
    float: right;
	margin-right: 0;
	margin-left: 15px;

}
#left-column .right-part .price, #right-column .right-part .price {float: none;}
.products-selection .display li#grid{margin: 5px 0 0 5px; padding: 0 0 0 3px;}
.products-sort-order .select-title, 
.top-menu .sub-menu ul[data-depth="1"] > li{margin: 0 0 0 8px;float:right;}
.layout-left-column #content-wrapper,.breadcrumb,body#checkout section#content{
	float: left;clear:none;
}
.layout-right-column #content-wrapper{ float:right;clear:none;}
.breadcrumb{text-align:left;}
.top_button {
    left: 15px;
    right: auto!important;
}
.owl-wrapper-outer, .flexslider {
    direction: ltr!important;
}
.flexslider .caption-description {
    left: auto;
    right: 100px;
}
.ctcategory-container .product_list li {float: right;}
#search_filters .facet .facet-label{text-align:right;}
.block_newsletter .title::before{
	right:0;left:auto;
}
.pull-xs-right,
.cart-summary-line .value {
    float: left !important;
}
.pull-xs-left {
    float: right !important;
}

#block-reassurance img {
    margin-left: 5px;
    margin-right: 0px;
}
.btn-primary .material-icons,
.btn-secondary .material-icons,
.btn-tertiary .material-icons {
    margin-right: 0px;
    margin-left: 5px;
}
.block-categories .block_content .collapse-icons {
    right: auto;
    left: 0px;
}
.custom-checkbox input[type="checkbox"] + span {
    margin-left: 3px;
    margin-right: 0px;
}
.products-selection .display {
    float: right;
    margin-left: 15px;
    margin-right: 0px;
}
.products-selection .sort-by {
    text-align: left;
}
#products .products .list li .product-detail {
    clear: both;
    float: right;
    width: 100%;
}
.products .product_list.list .quick-view{
    right: 5px;
    left: auto;
}
.pagination .page-list {
    margin-left: -30px;
    margin-right: 0px;
}
.pagination a .material-icons {
    margin-left: 0px;
    margin-right: 0;
}
.products-sort-order .dropdown-menu {
    right:auto;
	
}
#product-availability {
    margin-left: 0px;
    margin-right: 10px;
}
.dropdown-menu{
    left: 0;
    right:auto;
}
.language-selector .dropdown-menu, .currency-selector .dropdown-menu {
    right: auto;
    left: 0;
}
body#checkout section.checkout-step .radio-block,body#checkout section.checkout-step .address-footer{text-align:right;}
#stores .page-stores .store-item-container .divide-left{border-right:1px solid #ebebeb;border-left:none;}
#blockcart-modal .cart-content {
    padding-right: 2.5rem;
    padding-left: 0;
}
#blockcart-modal .divide-right, #order-items {
    border-left: 1px solid #e5e5e5;
    border-right: 0px;
}


.cart-summary-line .label, .product-actions .control-label{
    float: right;
}


li.product-flag.new{left: auto;right:2px;}
body#checkout section.checkout-step .payment-options .custom-radio {
    margin-left: 15px;
    margin-right: 0;
}
body#checkout section.checkout-step .custom-radio {
    margin-left: 4px;
    margin-right: 0px;
}
body#checkout .condition-label {
    margin-left: 0;margin-right:2.5rem;
}
.float-xs-left {
    float: right !important;
}
.done{
    margin-left: 1.5625rem;
    margin-right: 0;
}
.modal-header .close{
	left: 0;
	right: auto;
}
.block-categories .category-sub-menu li[data-depth="1"] {
	margin-right:10px;
	margin-left: 0;
	float:right;
}
.page-footer .account-link{ 
    margin-left: 1rem;
    margin-right: 0;
}
body#checkout section.checkout-step .delete-address .delete, body#checkout section.checkout-step .delete-address .edit, body#checkout section.checkout-step .edit-address .delete, body#checkout section.checkout-step .edit-address .edit{
	padding-right: 0px;
	padding-left: 22px;
}
#blockcart-modal .modal-title{ text-align: right !important; }
.modal-body .col-md-6.col-sm-6{float: right;}
.modal-footer{text-align: left;}
#product-modal .modal-content .modal-body .product-images{margin-left: 0; margin-right: 15px;}
#product-modal .modal-content .modal-body .arrows .arrow-up,
#product-modal .modal-content .modal-body .arrows .arrow-down{left: 45px;right: auto;}
#product-modal .modal-content .modal-body .image-caption {
    text-align: right;
}
.product-discount .regular-price{margin-left: 5px;margin-right: 0;}
.has-discount .discount{margin-left: 0;margin-right: 5px;}
.flexslider{float:left;}
#ctsubbanner{float:left !important;margin-left:0 !important;margin-right:3%;}
.footer-container .block-contact.footer-block{float: right;text-align: right;}

.footer-container .links {
	float: right;
	text-align: right;
}
#links_block_footer,.product-line-grid-body > .product-line-info > .label {text-align: right;}
.title-social {float: right;}
#left-column .products .product-price-and-shipping, #left-column .product-price {font-size: 13px;}
#block-contact_list i{float:right;margin-left:14px;margin-right:0;}
.sub_cms_img{float:right;}
.cms_cont{padding:10px 55px 10px 0px;}
.sub_cms.sec{margin:0 0px 0 45px;}
.cart_block .block_content .checkout.card-block{text-align:left;}
.cmsbanner, .cmsbanner-center ,.block_newsletter .title,.block_newsletter{float:right;}
#header .search-widget ,.search-widget form button[type="submit"],.block_newsletter .form{float:left;}
.search-widget form button[type="submit"]{right:auto;left:0;}
.search-widget::before {right: -15px;left: auto;}
#header .header-nav .right-nav::before {right: -25px;left: auto;}

#header .header-top .menu{float:right;text-align:center;}

#_desktop_cart {float: left}
#header .header-top .menu > ul > li {border-left: 1px solid #e8e8e8;border-right: none;margin:0;}
#_desktop_cart::before {right: -18px;left:auto;}
.cart_bottom {text-align: right;}
#cttestimonialblock .testi-section-title {text-align: right;padding-right: 15px;}

.footer-container .payment-cms li:first-child {
    margin: 0;
}
.footer-container .payment-cms li:last-child {
    margin-right: 6px;
}
#ct_footerlink > li:first-child a {
    padding-right: 0;
}
#ct_footerlink > li:first-child a::after {
    content: none;
}
#ct_footerlink > li {
        margin: 0 0 0 10px;
}

#ct_footerlink > li:last-child a::after {
    content: "";
}
.footer-container .copyright {
    text-align: center;
    float: right;
}
#products .products .list li.product_item .center-block {
    text-align: right;
}

.blog-hit {
    float: right;
}
.blog_right {
    float: right;
    text-align: right;
}
.offset-md-3 {
    margin-right: 25%;
    margin-left: 0;
}
#blogpage .comment-capcha-image {
    float: right;
}
#module-psblog-category .blog-item .blog-image {
    float: right;
}
#module-psblog-category .blog-item .blog-content-wrap .title{
    text-align: right;
}
#module-psblog-category .blog-meta > span {
    margin-left: 10px;
    margin-right: 0;
}


.homeblog-inner .blog-meta > span.blog-hit {
	float: left;
	background-position: right 5px;
	padding-left: 0;
	padding-right: 20px;
}

.product-variants > .product-variants-item ul li {float: right !important;}
.products .product_list li .quick-view:hover .material-icons {background-position: 7px -56px;}
.product-actions .material-icons, 
.products .product_list .quick-view .material-icons {background-position: 7px -56px;}
.product-actions .add-to-cart:hover .material-icons, .product-actions .add-to-cart:focus .material-icons {background-position: 8px -188px;}
.product-actions .add-to-cart .material-icons {background-position: 8px -188px;}




.float-xs-right {
    float: left !important;
}

#ctfootercmsblock {text-align:right;float: right;}
#_desktop_user_info,.block_newsletter .subtitle {float: right;}
.category-image.col-xs-12.col-sm-12.col-lg-4.col-md-4.text-center {padding: 0 15px;}
.social-sharing ul {text-align: right;}
.button_shop {text-align: right;}


.products-section-title::after {left:auto;right: 2px;}

#ctservicecmsblock .service,#ctsubbannercmsblock .banner {
    float: right;
}	

.post_hover .fa.fa-link{background-position:right 5px !important;} 
#module-psblog-category .product-count.float-xs-right ,.product-line-grid-right .bootstrap-touchspin {
    float: right !important;
}
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit{margin-left:0.125rem;margin-right:0;}
body#checkout .additional-information{margin-left: 0;margin-right: 2.875rem;}
#header .blockcart{padding-left:0;padding-right:14px;}
#links_block_header {
    float: left;
    text-align: right;
}	
#ct_headerlink > li:first-child a {
    padding:0 0px 0 20px;
}
#ct_headerlink > li:last-child a {
    padding-left:0;
}
.service-content {   margin-left:0px;margin-right:10px;}
/*verticalmenu--*/
#ct_vertical_menu_top{float:right;}
#ct_vertical_menu_top .menu-title,#ct_vertical_menu_top .top-menu a[data-depth="0"]{text-align:right;}
#ct_vertical_menu_top .top-menu a[data-depth="0"] .pull-xs-left.hidden-sm-down i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
#ct_vertical_menu_top .top-menu a[data-depth="0"] .pull-xs-left.hidden-sm-down i{margin-left:10px;margin-right:0;}
#header .top-menu a[data-depth="0"]:hover{padding-left: 22px;padding-right: 28px;}
.vertical-menu .top-menu .sub-menu{left: auto;right: 100%;}
#ct_vertical_menu_top #more_menu .moremenu:hover {  padding-left: 43px;padding-right:48px;}
.block-categories .category-sub-menu li[data-depth="0"] > div{left:auto;right:100%;}
.block-categories .block_content.collapse .pull-xs-left.hidden-sm-down i{
     margin-right:0;
     margin-left:10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.block-categories .category-sub-menu li[data-depth="0"] a:hover{padding-left: 22px;padding-right: 28px;}
.block_newsletter form input{right:auto;left:0;}
.block_newsletter form input[type="text"] {padding: 9px 18px 9px 55px !important;}
.page-addresses .address .address-footer a{margin-right:0;margin-left:10px;}
/*Responsive*/

@media (max-width: 1230px) {
}
@media (max-width: 1229px) {
#ct_vertical_menu_top{padding-left:15px;padding-right:0;}
.layout-right-column #content-wrapper, #left-column { padding-left: 15px; padding-right: 0; margin: 0;}
.layout-left-column #content-wrapper, #right-column { padding-left: 0; padding-right:15px;}
body#checkout section#content{padding-right:15px;padding-left:0;}
.products .product-price-and-shipping, .product-price {font-size: 12px;}
.products .product-miniature .product-flags .new.discount-percentage, .products .product-miniature .online-only.discount-percentage, .products .product-miniature .on-sale.discount-percentage, .products .product-miniature .discount-percentage.discount-percentage{font-size:12px;}
}
@media (max-width: 991px) {
#header .search-widget form input[type="text"] {
    padding-right: 10px;
    padding-left: 45px;
}
.service-content{margin:0 auto;}
#header .top-menu a[data-depth="0"]:hover{padding:10px;}
#header .searchtoggle { left: 0;right: 0;}
#ct_headerlink > li:last-child a,#ct_headerlink > li:first-child a{padding:0 15px;}
#links_block_header,.breadcrumb{text-align:center;}
.block-social li:first-child,.block-social li:last-child{margin:0 6px;}

.done{margin:0;}
#blockcart-modal .cart-content {
    padding-right: 0;
    padding-left: 0;
}

#header .float-xs-left {
    float: right !important;
}
#ctservicecmsblock .container ,#header .top-logo  {
    float: none;
}
#left-column .float-xs-right {
    float: left !important;
}
.service-content ,.footer-container .copyright{
    text-align: center;
}

#header .header-top #menu-icon{margin-left:20px;margin-right:0px;}
	.social-sharing, #category #search_filter_toggler{ text-align: right; }
	.product-quantity .add{	margin-right:0px; }
	
#left-column, #right-column{width: 100%;margin: 30px auto 0;padding: 0;}
	
.layout-left-column #content-wrapper, .layout-right-column #content-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

	.footer-container .links:first-child, .footer-container .links {text-align:right;}
	.footer-container .block-contact.footer-block{text-align:right;}
	.footer-container .links{margin:0;padding:0;border:none;text-align:right;}
#ctfootercmsblock, .footer-container .block-contact.footer-block{border:none;}


.footer-container .payment-cms li{margin-right:0;}
#header .header-nav .user-info a{text-align:right;}
#ctsubbannercmsblock .banner .img{padding-right:0;}
#ctfootercmsblock { text-align: center;}
.js-top-menu-bottom {text-align: right;}
#mobile_top_menu_wrapper .js-top-menu-bottom .user-info {float: right;}
#mobile_top_menu_wrapper .js-top-menu-bottom .currency-selector {padding: 0;}


.float-xs-right {float: left !important;}
.hidden-lg-up.text-xs-left.mobile {float: right;padding: 0;}



#header .displaynavfull {background: none;}
.block_newsletter {float:none;}
#ctservicecmsblock .service {
    text-align: center;
}


}
@media (max-width: 767px) {
.block_newsletter .title { float: none;}
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    margin-right:1.25rem;
    margin-left: 0.125rem;
}
#blockcart-modal .divide-right {
    border-left: none;
}
.products .list li .add-to-cart, .products .list .quick-view {
    margin: 5px 0 0;
}


    .products-selection .total-products{float: right;}
  
    #header .header-nav .user-info{text-align: right;float: right;}
    #header .header-nav .user-info .account{margin-right: 0;}
    .pagination .page-list{margin: 0; float: none;}

	.nav-item .nav-link, .nav-item .nav-separtor {margin-left:0}
	#ctaboutcmsblock .about_content {padding: 0 30px 0 0;}
	}

@media (max-width: 543px) {
#my-account .page-footer .text-sm-center {
    text-align: center;
}
#ctsubbannercmsblock .banner {  float: none;}
	.product-features > dl.data-sheet dd.value, .product-features > dl.data-sheet dt.name {
		margin-left: 0;
		margin-right:0;
	}

    .product-description .price{float: none;}
	 #header a, #header .currency-selector .expand-more, #header .language-selector .expand-more{float:none;}
	/*.product-images > li.thumb-container > .thumb, .images-container .product_list .thumb-container .thumb{margin-left:40%;}*/
	.nav-item .nav-link, .nav-item .nav-separtor { padding: 15px 0;}
	.nav-tabs .nav-item {float: none;}


}

@media (max-width: 479px) {
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    float: none;
    margin-right: 0;
}
.banner,.cmsbanner, .cmsbanner-center  {float: none;}
.nav-item .nav-link, .nav-item .nav-separtor {padding: 5px;}
.nav-tabs .nav-item {float: none;}
.products-section-title {text-align: center;}


}
@media (max-width: 480px) {
	
	#products .product_list.gridcount.list.row li.product_item .thumbnail-container .product-thumbnail{border-left:none;}

}
